{% extends "basic.html" %}
{% load humanize i18n %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{% language 'id' %}
<main class="h-100">
    {% include "header.html" %}
    <!-- main page content -->
    <div class="main-container container">


        <div class="row mb-4 mt-4">
            {% for x in messages %}
            <button class="btn btn-success col-lg-12 text-light">{{ x }}</button>
            {% endfor %}
        </div>

        <!-- welcome user -->
        <div class="row mb-4">
            <div class="col-auto">
                <a href="/user/profil">
                    <div class="avatar avatar-50">
                        <img alt="" src="{{ profil.logo.url }}">
                    </div>
                </a>
            </div>
            <div class="col align-self-center ps-0">
                <a href="/user/profil">
                    <h4 class="text-color-theme"><span class="fw-normal">Hi</span>, {{ request.user.username }}</h4>
                    {% for x in request.user.groups.all %}
                    <p class="text-muted">{{ x }}</p>
                    {% endfor %}
                </a>
            </div>
        </div>

        <!-- money request received -->
        <div class="row mb-4 hideonprogress">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                            </div>
                            <div class="col align-self-center ps-0">
                                <h4><span class="text-muted">Powered by </span><a class="fw-medium"
                                                                                  href="https://aklik.id"
                                                                                  target="_blank">aKLIK</a></h4>
                            </div>
                            <div class="col-auto">
                                <a href="https://aklik.id" target="_blank"
                                   class="btn btn-44 btn-success shadow-sm text-light">
                                    <i class="bi bi-cursor"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="col-12">
                            <div class="progress bg-none h-2 hideonprogressbar" data-target="hideonprogress">
                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25"
                                     class="progress-bar bg-theme" role="progressbar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- swiper credit cards -->
        <div class="row mb-3">
            <details class="col-6 col-sm-6 col-md-4 col-lg-3 mt-2 mb-2">
                <summary class="btn-block btn-lg btn-success text-light"><i class="bi bi-clipboard"></i> Admisi
                </summary>
                <div class="row">
                    <a href="/admisi/antrian-admisi"
                       class="btn-block btn-lg btn-secondary col-12 mt-2 mb-2 text-center">Pend. Rajal <b>UMUM</b></a>
                    <hr>
                    <a href="/igd/pendaftaranigd" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Pend. IGD <b>BPJS</b></a>
                    <a href="/rawatinap/mutasirawatinap" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Pend. Ranap <b>BPJS</b></a>
                </div>
            </details>
            <details class="col-6 col-sm-6 col-md-4 col-lg-3 mt-2 mb-2">
                <summary class="btn-block btn-lg btn-warning text-light"><i class="bi bi-tv"></i> Kiosk</summary>
                <div class="row">
                    <a href="/admisi/ambil-antrian" class="btn-block btn-lg btn-secondary col-12 mt-2 mb-2 text-center"
                       target="_blank">Antrian Pendaftaran</a>
<!--                    <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Antrian Rawat Jalan</a>-->
                </div>
            </details>
            <details class="col-6 col-sm-6 col-md-4 col-lg-3 mt-2 mb-2">
                <summary class="btn-block btn-lg btn-primary text-light"><i class="bi bi-file-medical"></i> Rawat Jalan
                </summary>
                <div class="row">
                    <a href="/poli/antrian-poli/" class="btn-block btn-lg btn-secondary col-12 mt-2 mb-2 text-center"
                       target="_blank">Layanan Pemeriksaan</a>
                    <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Pendapatan</a>
                    <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Rekam Medis</a>
                </div>
            </details>
            <details class="col-6 col-sm-6 col-md-4 col-lg-3 mt-2 mb-2">
                <summary class="btn-block btn-lg btn-info text-light"><i class="bi bi-building"></i> Rawat Inap
                </summary>
                <div class="row">
                    <a href="/rawatinap/daftarpasienrawatinap" class="btn-block btn-lg btn-secondary col-12 mt-2 mb-2 text-center">Pemeriksaan Ranap <b>BPJS</b></a>
<!--                    <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Pendapatan</a>-->
<!--                    <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Rekam Medis</a>-->
                </div>
            </details>
            <details class="col-6 col-sm-6 col-md-4 col-lg-3 mt-2 mb-2">
                <summary class="btn-block btn-lg btn-danger text-light"><i class="bi bi-prescription2"></i> Dokter
                </summary>
                <div class="row">
                    <a href="/dokter/antrian-dokter"
                       class="btn-block btn-lg btn-secondary col-12 mt-2 mb-2 text-center">Layanan Pemeriksaan</a>
<!--                    <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Pendapatan</a>-->
                </div>
            </details>
            <details class="col-6 col-sm-6 col-md-4 col-lg-3 mt-2 mb-2">
                <summary class="btn-block btn-lg text-light" style="background: brown;"><i
                        class="bi bi-capsule-pill"></i> Farmasi
                </summary>
                <div class="row">
                    <a href="/farmasi/antrian-farmasi"
                       class="btn-block btn-lg btn-secondary col-12 mt-2 mb-2 text-center">Siapkan Obat</a>
<!--                    <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Pendapatan</a>-->
                </div>
            </details>
            <details class="col-6 col-sm-6 col-md-4 col-lg-3 mt-2 mb-2">
                <summary class="btn-block btn-lg btn-secondary text-light"><i class="bi bi-lungs"></i> Radiologi
                </summary>
                <div class="row">
                    <a href="/radiologi/antrian-radiologi"
                       class="btn-block btn-lg btn-secondary col-12 mt-2 mb-2 text-center" target="_blank">Layanan
                        Pemeriksaan</a>
<!--                    <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Pendapatan</a>-->
                </div>
            </details>
            <details class="col-6 col-sm-6 col-md-4 col-lg-3 mt-2 mb-2">
                <summary class="btn-block btn-lg btn-dark text-light"><i class="bi bi-eyedropper"></i> Laboratorium
                </summary>
                <div class="row">
                    <a href="/lab/antrian-lab" class="btn-block btn-lg btn-secondary col-12 mt-2 mb-2 text-center"
                       target="_blank">Layanan Pemeriksaan</a>
<!--                    <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Pendapatan</a>-->
                </div>
            </details>
            <details class="col-6 col-sm-6 col-md-4 col-lg-3 mt-2 mb-2">
                <summary class="btn-block btn-lg text-light" style="background: purple;"><i class="bi bi-cash-coin"></i>
                    Kasir
                </summary>
                <div class="row">
                    <a href="/kasir/antrian-kasir" class="btn-block btn-lg btn-secondary col-12 mt-2 mb-2 text-center">Daftar
                        Pembayaran</a>
<!--                    <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Riwayat Pembayaran</a>-->
                </div>
            </details>
            <details class="col-6 col-sm-6 col-md-4 col-lg-3 mt-2 mb-2">
                <summary class="btn-block btn-lg text-light" style="background: green;"><i
                        class="bi bi-person-lines-fill"></i> JKN
                </summary>
                <div class="row">
                    <a href="#" class="btn-block btn-lg btn-secondary col-12 mt-2 mb-2 text-center">Claim Online</a>
                    <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Data Claim</a>
                </div>
            </details>
            <details class="col-6 col-sm-6 col-md-4 col-lg-3 mt-2 mb-2">
                <summary class="btn-block btn-lg text-light" style="background: #154c79;"><i class="bi bi-list"></i>
                    Laporan
                </summary>
                <div class="row">
<!--                    <a href="#" class="btn-block btn-lg btn-secondary col-12 mt-2 mb-2 text-center">Laporan RL</a>-->
<!--                    <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Laporan Keuangan</a>-->
                    <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Cetakan Untuk Pasien</a>
                </div>
                <!--                onclick="window.open('/pku-mojoagung/admisi/print/kartu-antrian?id=277178','mywindow','location=1,status=1,scrollbars=1,width=260px,height=380px')"-->
            </details>
        </div>


        <!-- money request received -->

    </div>


    <!-- main page content ends -->
    {% include "footer.html" %}
</main>
{% endlanguage %}
{% endblock %}