{% extends 'basic.html' %}
{% load humanize i18n static %}
{% block title %}
Ubah Password
{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
{% language 'id' %}
<main class="h-100">

    {% include "header.html" %}
    <!-- main page content -->
    <div class="main-container container">
        <!--card pelayanan-->
        <div class="row mb-2">
            {% for x in messages %}
            <button class="btn btn-primary col-lg-12">{{ x }}</button>
            {% endfor %}
        </div>

        <div class="container mt-5">
            <div class="row mb-2 mt-2">
                <div class="col">
                    <h3>Ubah Password Anda</h3>
                </div>
            </div>
            <div class="itemList mt-2 mb-2">
                <div class="row mt-2 mb-2">
                    {{ form.errors }}
                    <form method="post">
                        <div class="card">
                            <div class="card-body">
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="form-group mb-4">
                                    <label for="{{ field.id_for_label }}" class="mb-2">{{ field.label }}</label>
                                    <input type="{{ field.field.widget.input_type }}" class="form-control"
                                           id="{{ field.id_for_label }}" name="{{ field.html_name }}"
                                           value="{{ field.value|default:field.field.initial }}">
                                    {% if field.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in field.errors %}
                                        {{ error }}
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="card-footer bg-primary">
                                <center>
                                    <button type="submit" class="btn text-light">Ganti Password</button>
                                </center>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>


    </div>

    {% include 'footer.html' %}


</main>


{% endlanguage %}
{% endblock %}{% extends 'basic.html' %}
{% load humanize i18n static %}
{% block title %}
Ubah Password
{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
{% language 'id' %}
<main class="h-100">

    {% include "header.html" %}
    <!-- main page content -->
    <div class="main-container container">
        <!--card pelayanan-->
        <div class="row mb-2">
            {% for x in messages %}
            <button class="btn btn-primary col-lg-12">{{ x }}</button>
            {% endfor %}
        </div>

        <div class="container mt-5">
            <div class="row mb-2 mt-2">
                <div class="col">
                    <h3>Ubah Password Anda</h3>
                </div>
            </div>
            <div class="itemList mt-2 mb-2">
                <div class="row mt-2 mb-2">
                    {{ form.errors }}
                    <form method="post">
                        <div class="card">
                            <div class="card-body">
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="form-group mb-4">
                                    <label for="{{ field.id_for_label }}" class="mb-2">{{ field.label }}</label>
                                    <input type="{{ field.field.widget.input_type }}" class="form-control"
                                           id="{{ field.id_for_label }}" name="{{ field.html_name }}"
                                           value="{{ field.value|default:field.field.initial }}">
                                    {% if field.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in field.errors %}
                                        {{ error }}
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="card-footer bg-primary">
                                <center>
                                    <button type="submit" class="btn text-light">Ganti Password</button>
                                </center>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>


    </div>

    {% include 'footer.html' %}


</main>


{% endlanguage %}
{% endblock %}