{% extends 'base.html' %}
{% load my_tags %}
{% load crispy_forms_tags %}

{% block content %}

<style>
.select2-container {
    width: 100% !important;
}

.select {
        word-wrap: normal !important;
    }
.select2-selection--single {
    /* Existing options: */
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    /* HACK: new option to make padding right: */
    padding-bottom: 36px;
}

/* HACK: make default django-autocomplete-light arrow go away (so bootstrap shows): */
.select2-selection__arrow {
    visibility: hidden;
}
</style>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<div class="col-xl-12 col-md-12 mb-4 mt-4">
    <div class="card table-card">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5>Pembagian Ulang CBG Verifikator Null</h5>
        </div>

        <div class="container-fluid">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-3" role="alert">
                        {{ message }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
            <br>
            <div class="card-body">
              <form class="row row-cols-md-auto g-3 align-items-center">
                  <label>Masukan Nomor Register Dengan CBG Verifikator Null</label>
                  <input class="textinput form-control" type="text" style="width: auto" name="nomor_register" value="">
                  <input name="pembagian_null" type="hidden" value="pembagian_null">
                <button type="submit" class="btn btn-success">Submit</button>
              </form>
            </div>
        </div>
    </div>
</div>

    <div class="col-xl-12 col-md-12 mb-4 mt-4">
        <div class="card table-card">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5>List Verifikator Active</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-borderless mb-0">
                        <thead>
                        <tr>
                            <th scope="col">NO</th>
                            <th scope="col">NAMA VERIFIKATOR</th>
                            <th scope="col">Status Active</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for verifikator in verifikator %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ verifikator }}</td>
                                <td>{{ verifikator.is_active }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

{% endblock %}