{% extends "basic.html" %}
{% load humanize i18n %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{% language 'id' %}
<main class="h-100">
    {% include "header.html" %}
    <!-- main page content -->
    <div class="main-container container">
        <!-- welcome user -->
        <div class="row mb-4">
            <div class="col-auto">
                <h4 class="mb-3">Layanan Pemeriksaan</h4>
                <form method="post" action="">
                    <div class="input-group mb-3">
                        <select class="form-select">
                            <option value="Melati">Kamar Melati</option>
                            <option value="Dahlia">Kamar Dahlia</option>
                            <option value="Mawar">Kamar Mawar</option>
                        </select>
                        <input type="submit" class="input-group-text bg-success text-light" value="Kunjungi Kamar">
                    </div>
                </form>
            </div>
        </div>



        <div class="row mb-4">
            <div class="col-auto">
                <a href="/profil">
                    <div class="avatar avatar-50 mt-2">
                        <h1><i class="bi bi-house-heart"></i></h1>
                    </div>
                </a>
            </div>
            <div class="col align-self-center ps-0">
                <a href="#">
                    <h4 class="text-color-theme"><span class="fw-normal">Kamar Rawat Inap Dahlia</span></h4>
                </a>
            </div>
        </div>

        <!-- swiper credit cards -->
        <div class="row mb-3">
            <details class="col-6 col-sm-6 col-md-4 col-lg-3 mt-2 mb-2">
                <summary class="btn-block btn-lg {% if keadaan == 'kritis' %}btn-danger{% elif keadaan == 'semi-kritis' %}btn-warning{% elif keadaan == 'pulih' %}btn-success{% elif keadaan == 'normal' %}btn-info{% else %}btn-primary{% endif %} text-light"><i class="bi bi-person-badge"></i> Ahmad Barzanzy</summary>
                <div class="row">
                <a href="#" class="btn-block btn-lg btn-secondary col-12 mt-2 mb-2 text-center">CPPT</a>
                <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Penunjang Radiologi</a>
                <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Penunjang Laboratorium</a>
                <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Resume Medis</a>
                <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Billing</a>
                </div>
            </details>
            <details class="col-6 col-sm-6 col-md-4 col-lg-3 mt-2 mb-2">
                <summary class="btn-block btn-lg btn-success text-light"><i class="bi bi-person-badge"></i> Imel Ardelia</summary>
                <div class="row">
                <a href="#" class="btn-block btn-lg btn-secondary col-12 mt-2 mb-2 text-center">CPPT</a>
                <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Penunjang Radiologi</a>
                <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Penunjang Laboratorium</a>
                <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Resume Medis</a>
                <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Billing</a>
                </div>
            </details>
            <details class="col-6 col-sm-6 col-md-4 col-lg-3 mt-2 mb-2">
                <summary class="btn-block btn-lg {% if keadaan == 'kritis' %}btn-danger{% elif keadaan == 'semi-kritis' %}btn-warning{% elif keadaan == 'pulih' %}btn-success{% elif keadaan == 'normal' %}btn-info{% else %}btn-primary{% endif %} text-light"><i class="bi bi-person-badge"></i> Vana Amardiana</summary>
                <div class="row">
                <a href="#" class="btn-block btn-lg btn-secondary col-12 mt-2 mb-2 text-center">CPPT</a>
                <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Penunjang Radiologi</a>
                <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Penunjang Laboratorium</a>
                <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Resume Medis</a>
                <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Billing</a>
                </div>
            </details>
            <details class="col-6 col-sm-6 col-md-4 col-lg-3 mt-2 mb-2">
                <summary class="btn-block btn-lg btn-danger text-light"><i class="bi bi-person-badge"></i> Rofiq Mahmudin</summary>
                <div class="row">
                <a href="#" class="btn-block btn-lg btn-secondary col-12 mt-2 mb-2 text-center">CPPT</a>
                <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Penunjang Radiologi</a>
                <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Penunjang Laboratorium</a>
                <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Resume Medis</a>
                <a href="#" class="btn-block btn-lg btn-secondary col-12 mb-2 text-center">Billing</a>
                </div>
            </details>
        </div>


        <!-- money request received -->

    </div>


    <!-- main page content ends -->
    {% include "footer.html" %}
</main>
{% endlanguage %}
{% endblock %}