{% extends 'basic.html' %}
{% load humanize i18n static %}

{% block title %}
Pemanggil Antrian
{% endblock %}

{% block head %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>
{% endblock %}

{% block content %}
{% language 'id' %}
<main class="h-100">

    {% include "header.html" %}
    <!-- main page content -->
    <div class="main-container container">
        <!--card pelayanan-->
        <div class="row mb-2">
            {% for x in messages %}
            <button class="btn btn-primary col-lg-12">{{ x }}</button>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-center">
            <div class="row mb-3 mt-4 ">
                <div class="col">
                    <h4>Loket Pendaftaran</h4>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="row mb-3 mt-4 ">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <form method="post" action="{% url 'pilihloket' %}">
                                {% csrf_token %}
                                <div class="form-group mb-2">
                                    <center><label>Loket Anda</label></center>
                                    <input class="form-control" type="text" name="loket" value="{{ loketanda.nama }}">
                                </div>
                                <div class="form-group mt-2">
                                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3 mt-4 ">
            <div class="col">
                <div class="card">
                    <div class="card-body">

                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Nomor Antrian</th>
                                <th scope="col">Waktu Mengantri</th>
                                <th scope="col">Panggil</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for x in antrian %}
                            <tr>
                                <th scope="row">{{ x.no_antrian }}</th>
                                <td>{{ x.waktu_start_mengantri }}</td>
                                <td>
                                    {% if x.task_id != 99 %}
                                            {% if x.loket %}
                                            {% else %}
                                    <form method="post" action="{% url 'claimantrian' %}" class="mb-2">
                                        {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ x.id }}">
                                    <button type="submit" class="btn btn-primary btn-block">Mulai Panggil</button>
                                    </form>
                                            {% endif %}

                                            {% if x.loket.petugas_admisi == request.user %}
                                    <div class="form-group mb-2">
                                    <input type="hidden" id="text{{ forloop.counter }}" value="Nomor Antrian {{ x.no_antrian }}, silahkan ke loket {{ loketanda.nama }}">
                                    <button type="submit" class="btn btn-warning btn-block text-light" onclick="speak{{ forloop.counter }}()">Panggil</button>
                                    </div>

                                    <form method="post" action="/antrian/{{x.id}}/hadir" class="mb-2" onsubmit="Anda akan diarahkan ke pendaftaran">
                                        {% csrf_token %}
                                    <input type="hidden" name="task_id" value="2">
                                    <button type="submit" class="btn btn-success btn-block text-light">Pasien Hadir</button>
                                    </form>

                                    <form method="post" action="{% url 'batalkanantrian' %}" class="mb-2">
                                        {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ x.id }}">
                                    <button type="submit" class="btn btn-danger btn-block text-light">Batalkan</button>
                                    </form>
                                            {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</main>
{% for x in antrian %}
  <script>
    function speak{{ forloop.counter }}() {
      var text = document.getElementById('text{{ forloop.counter }}').value;
      if ('speechSynthesis' in window) {
        var speech{{ forloop.counter }} = new SpeechSynthesisUtterance();
        speech{{ forloop.counter }}.text = text; // Updated variable name
        speech{{ forloop.counter }}.lang = 'id-ID';
        speech{{ forloop.counter }}.rate = 0.8;
        setTimeout(function() {
          window.speechSynthesis.speak(speech{{ forloop.counter }});
        }, 1000 * {{ forloop.counter }}); // Delayed execution based on loop counter
      } else {
        alert('Browser tidak mendukung Text-to-Speech.');
      }
    }
  </script>
{% endfor %}
{% endlanguage %}
{% endblock %}

