{% extends 'basic.html' %}
{% load humanize i18n static %}

{% block title %}
Pemanggil Antrian
{% endblock %}

{% block head %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>
{% endblock %}

{% block content %}
{% language 'id' %}
<main class="h-100">

    {% include "header.html" %}
    <!-- main page content -->
    <div class="main-container container">
        <!--card pelayanan-->
        <div class="row mb-2">
            {% for x in messages %}
            <button class="btn btn-primary col-lg-12">{{ x }}</button>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-center">
            <div class="row mb-3 mt-4 ">
                <div class="col">
                    <h4>Antrian Kasir</h4>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">

        </div>
        <div class="row mb-3 mt-4 ">
            <div class="col">
                <div class="card" id="InvoiceDetail">
                    <div class="card-body">
                        <!-- start  -->
                        <table class="table table-borderless">

                            <div class="card-body text-center">
                                <h5 class="card-title"><img src="{{ profil.logo.url }}" width="30px;">{{ profil.nama }}&nbsp;</h5>
                                <p class="card-text">{{ profil.alamat }}</p>

                            </div>

                            <thead>
                                <tr>
                                    <th scope="col">Nama Pasien:</th>
                                    <td scope="col">{{pasien.nama}}</td>
                                    <th scope="col">Jenis Kelamin:</th>
                                    <td scope="col">{{pasien.jenis_kelamin}}</td>
                                </tr>
                                <tr>
                                    <th scope="col">Alamat Pasien:</th>
                                    <td scope="col">{{pasien.alamat}}</td>
                                    <th scope="col">Agama Pasien:</th>
                                    <td scope="col">{{pasien.agama}}</td>
                                </tr>
                            </thead>
                            <thead>
                                <tr class="table-active">
                                    <th scope="col">Pendaftaran</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Kuantitas</th>
                                    <th scope="col">Sub Total</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>Pendaftaran {{invoice_pendaftaran.tipe_layanan}}</td>
                                    <td></td>
                                    <td>{{invoice_pendaftaran.biaya}}</td>
                                    <td>{{invoice_pendaftaran.biaya}}</td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr class="table-active">
                                    <th scope="col">Poli</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Kuantitas</th>
                                    <th scope="col">Sub Total</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>{{invoice_poli.poli.nama}}</td>
                                    <td></td>
                                    <td>{{invoice_poli.total_harga}}</td>
                                    <td>{{invoice_poli_total}}</td>
                                </tr>
                            </tbody>
                             <!-- radiologi  -->
                            <thead>
                                <tr class="table-active">
                                    <th scope="col">Radiologi</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Kuantitas</th>
                                    <th scope="col">Sub Total</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for invoice in invoice_radiologi %}
                                <tr >
                                    <td></td>
                                    <td>{{invoice.layanan_radiologi.nama}}</td>
                                    <td>{{invoice.kuantitas}}</td>
                                    <td>{{invoice.total_harga}}</td>
                                    <td>{% if forloop.last %}{{invoice_radiologi_total}}{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <!-- lab  -->
                            <thead>
                                <tr class="table-active">
                                    <th scope="col">Lab</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Kuantitas</th>
                                    <th scope="col">Sub Total</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for invoice in invoice_lab %}
                                <tr >
                                    <td></td>
                                    <td>{{invoice.layanan_lab.nama}}</td>
                                    <td>{{invoice.kuantitas}}</td>
                                    <td>{{invoice.total_harga}}</td>
                                    <td>{% if forloop.last %}{{invoice_lab_total}}{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <!-- konsultasi  -->
                            <thead>
                                <tr class="table-active">
                                    <th scope="col">Konsultasi</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Kuantitas</th>
                                    <th scope="col">Sub Total</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for invoice in invoice_konsultasi %}
                                <tr >
                                    <td></td>
                                    <td>{{invoice.layanan_konsultasi.nama}}</td>
                                    <td>{{invoice.kuantitas}}</td>
                                    <td>{{invoice.total_harga}}</td>
                                    <td>{% if forloop.last %}{{invoice_konsultasi_total}}{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <!-- tindakan  -->
                            <thead>
                                <tr class="table-active">
                                    <th scope="col">Tindakan</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Kuantitas</th>
                                    <th scope="col">Sub Total</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for invoice in invoice_tindakan %}
                                <tr >
                                    <td></td>
                                    <td>{{invoice.layanan_tindakan.nama}}</td>
                                    <td>{{invoice.kuantitas}}</td>
                                    <td>{{invoice.total_harga}}</td>
                                    <td>{% if forloop.last %}{{invoice_tindakan_total}}{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <!-- monitoring  -->
                            <thead>
                                <tr class="table-active">
                                    <th scope="col">Monitoring</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Kuantitas</th>
                                    <th scope="col">Sub Total</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for invoice in invoice_monitoring %}
                                <tr >
                                    <td></td>
                                    <td>{{invoice.layanan_monitoring.nama}}</td>
                                    <td>{{invoice.kuantitas}}</td>
                                    <td>{{invoice.total_harga}}</td>
                                    <td>{% if forloop.last %}{{invoice_monitoring_total}}{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <!-- edukasi  -->
                            <thead>
                                <tr class="table-active">
                                    <th scope="col">Edukasi</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Kuantitas</th>
                                    <th scope="col">Sub Total</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for invoice in invoice_edukasi %}
                                <tr >
                                    <td></td>
                                    <td>{{invoice.layanan_edukasi.nama}}</td>
                                    <td>{{invoice.kuantitas}}</td>
                                    <td>{{invoice.total_harga}}</td>
                                    <td>{% if forloop.last %}{{invoice_edukasi_total}}{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <!-- obat  -->
                            <thead>
                                <tr class="table-active">
                                    <th scope="col">Obat</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Kuantitas</th>
                                    <th scope="col">Sub Total</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for invoice in invoice_obat %}
                                <tr >
                                    <td></td>
                                    <td>{{invoice.obat.nama}}</td>
                                    <td>{{invoice.kuantitas}}</td>
                                    <td>{{invoice.total_harga}}</td>
                                    <td>{% if forloop.last %}{{invoice_obat_total}}{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <!-- alay  -->
                            <thead>
                                <tr class="table-active">
                                    <th scope="col">Alat</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Kuantitas</th>
                                    <th scope="col">Sub Total</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for invoice in invoice_alkes %}
                                <tr >
                                    <td></td>
                                    <td>{{invoice.alat.nama}}</td>
                                    <td>{{invoice.kuantitas}}</td>
                                    <td>{{invoice.total_harga}}</td>
                                    <td>{% if forloop.last %}{{invoice_alkes_total}}{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="table-active">{{totals}}</td>
                                </tr>
                            </tbody>
                            
                        </table>
                        <!-- end  -->
                    </div>
                </div>

                <div class="card w-75 mb-3">
                    <div class="card-body">
                      <form method="POST" action="/kasir/konfirmasi/invoice/{{summary_invoice.id}}/selesai">
                        {% csrf_token %}
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                              <label for="inputPassword6" class="col-form-label">Petugas</label>
                            </div>
                            <div class="col-auto">
                              <input type="text" id="inputPassword6" value="{{request.user.get_full_name}}" class="form-control" aria-labelledby="passwordHelpInline" readonly disabled>
                            </div>
                            <div class="col-auto">
                                <label for="inputPassword6" class="col-form-label">Status Pembayaran</label>
                              </div>
                              <div class="col-auto">
                                <button type="button"
                                class="btn btn-{% if summary_invoice.status_pembayaran == 'Belum Bayar' %}danger{% elif summary_invoice.status_pembayaran == 'Sudah Bayar' %}success{% else %}secondary{% endif %}"
                                disabled>{{summary_invoice.status_pembayaran}}</button>
                              </div>
                            <div class="col-auto">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button class="btn btn-primary" type="submit">Pembayaran Selesai</button>
                                  </div>
                            </div>
                          </div>
                      </form>
                    </div>
                  </div>
                


            </div>
        </div>
    </div>
    <script>
        var buttonPrint = document.getElementById("buttonPrint")
        buttonPrint.addEventListener("click", function() {
            var invoice = document.getElementById("InvoiceDetail").innerHTML
            var orig = document.body.innerHTML
            document.body.innerHTML = invoice
            window.print()
            document.body.innerHTML = orig

        })
    </script>
    {% include "footer.html" %}
</main>
{% endlanguage %}
{% endblock %}