.dropdownIdc {
    position: relative;
    display: inline-block;
  }

  .dropdownIdc input {
    padding: 5px;
    width: 370px;
  }

  .dropdownIdc ul {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    width: 370px;
    overflow-y: auto;
    max-height: 300px;
    z-index: 1;
  }

  .dropdownIdc ul li {
    padding: 5px;
    cursor: pointer;
  }

  .dropdownIdc ul li:hover {
    background-color: #f2f2f2;
  }

