{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    .OLevelResult {
        display: none;
    }

    .OLevelResult.active {
        display: block;
    }
</style>
<div class="col-12">
    <div class="card-body">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-3" role="alert">
                {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card table-card">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5>Detail - Register Klaim</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 m-l-30 mt-4">
                        {% include 'base_detail_register_klaim.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if register.status == "Dikembalikan" or register.status == "Terima" or register.status == "Pengajuan" %}
    <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h5>Aksi Staf Administrasi Klaim</h5>
          </div>
          <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{status_form|crispy}}
                <input type="hidden" name="action" value="update_status">
                <button class="btn btn-primary w-100" type="submit">Simpan</button>
            </form>
          </div>
        </div>
    </div>
    {% endif %}

</div>


<script>
let status = document.getElementById("id_status").value
if (status === "Terima") {
    document.getElementById("div_id_keterangan").classList.remove("active");
    document.getElementById("id_keterangan").removeAttribute("required");
    document.getElementById("div_id_tgl_terima").classList.add("active");
    document.getElementById("div_id_no_ba_terima").classList.add("active");
    document.getElementById("div_id_verifikator").classList.add("active");
    document.getElementById("id_tgl_terima").setAttribute("required", "");
    document.getElementById("id_no_ba_terima").setAttribute("required", "");
    document.getElementById("id_verifikator").setAttribute("required", "");
} else if (status === "Dikembalikan") {
    document.getElementById("div_id_keterangan").classList.add("active");
    document.getElementById("id_keterangan").setAttribute("required", "");
    document.getElementById("div_id_tgl_terima").classList.add("OLevelResult");
    document.getElementById("div_id_no_ba_terima").classList.add("OLevelResult");
    document.getElementById("div_id_verifikator").classList.add("OLevelResult");
    document.getElementById("id_tgl_terima").removeAttribute("required");
    document.getElementById("id_no_ba_terima").removeAttribute("required");
    document.getElementById("id_verifikator").removeAttribute("required");

}
    function changeOptions(selectEl) {
        let subForms = document.getElementsByClassName('OLevelResult')
        if (selectEl === "Dikembalikan") {
            document.getElementById("div_id_keterangan").classList.add("active");
            document.getElementById("id_keterangan").setAttribute("required", "");
            document.getElementById("div_id_tgl_terima").classList.add("OLevelResult");
            document.getElementById("div_id_no_ba_terima").classList.add("OLevelResult");
            document.getElementById("div_id_verifikator").classList.add("OLevelResult");
            
            document.getElementById("div_id_tgl_terima").classList.remove("active");
            document.getElementById("div_id_no_ba_terima").classList.remove("active");
            document.getElementById("div_id_verifikator").classList.remove("active");
            document.getElementById("id_tgl_terima").removeAttribute("required");
            document.getElementById("id_no_ba_terima").removeAttribute("required");
            document.getElementById("id_verifikator").removeAttribute("required");
        } else if (selectEl === "Terima") {
            document.getElementById("div_id_keterangan").classList.remove("active");
            document.getElementById("id_keterangan").removeAttribute("required");
            document.getElementById("div_id_tgl_terima").classList.add("active");
            document.getElementById("div_id_no_ba_terima").classList.add("active");
            document.getElementById("div_id_verifikator").classList.add("active");
            document.getElementById("id_tgl_terima").setAttribute("required", "");
            document.getElementById("id_no_ba_terima").setAttribute("required", "");
            document.getElementById("id_verifikator").setAttribute("required", "");
        }
    }

        document.getElementById("id_status").setAttribute("onchange", "changeOptions(this.value)");
        document.getElementById("div_id_keterangan").classList.add("OLevelResult");
        document.getElementById("id_tgl_terima").setAttribute("required", "");
        document.getElementById("id_no_ba_terima").setAttribute("required", "");
        document.getElementById("id_verifikator").setAttribute("required", "");

</script>



{% endblock %}