<div class="row g-3 mt-2">
    <hr class="my-1 text-primary">
    <div class="accordion" id="accordionObjective">
        <div class="accordion-item">

            <h2 class="accordion-header" id="headingOneObjective">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOneObjective" aria-expanded="true" aria-controls="collapseOneObjective">
                    Objective
                </button>
            </h2>

            <form method="POST" action="/soap/objective">
                {% csrf_token %}
                <input type="hidden" name="antrian_id" value="{{antrian.id}}">
                <div id="collapseOneObjective" class="accordion-collapse collapse show collapse show"
                    aria-labelledby="headingOneObjective" data-bs-parent="#accordionObjective">

                    <div class="accordion-body">
                        <h5 class="mt-3 h5">Tanda Vital</h5>
                        <div class="row gy-3">
                            <div class="col-md-4">
                                <label for="kesadaran" class="form-label mt-3">Kesadaran</label>
                                <div class="input-group">
                                    <select class="form-select" name="kesadaran" id="kesadaran" required="">
                                        <option value="{{objective.kesadaran}}">{{ objective.kesadaran }}</option>
                                        <option value="COMPOS_MENTIS">Compos Mentis</option>
                                        <option value="APATIS">Apatis</option>
                                        <option value="SOMNOLEN">Somnolen</option>
                                        <option value="SOPOR">Sopor</option>
                                        <option value="COMA">Coma</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="tensi_sistol" class="form-label mt-3">Tensi Sistol</label>
                                <div class="input-group">
                                    <input type="text" name="tensi_sistol" id="tensi_sistol" class="form-control"
                                        autocomplete="off" value="{{objective.tensi_sistol}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="tensi_diastol" class="form-label mt-3">Tensi Diastol Umum</label>
                                <div class="input-group">
                                    <input type="text" name="tensi_diastol" id="tensi_diastol" class="form-control"
                                        autocomplete="off" value="{{objective.tensi_diastol}}">
                                </div>
                            </div>
                        </div>
                        <div class="row gy-3">
                            <div class="col-md-4">
                                <label for="nadi" class="form-label mt-3">Nadi</label>
                                <div class="input-group">
                                    <input type="text" name="nadi" id="nadi" class="form-control" autocomplete="off"
                                        value="{{objective.nadi}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="rr" class="form-label mt-3">Rr</label>
                                <div class="input-group">
                                    <input type="text" name="rr" id="rr" class="form-control" autocomplete="off"
                                        value="{{objective.rr}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="suhu" class="form-label mt-3">Suhu</label>
                                <div class="input-group">
                                    <input type="text" name="suhu" id="suhu" class="form-control" autocomplete="off"
                                        value="{{objective.suhu}}">
                                </div>
                            </div>
                        </div>
                        <div class="row gy-3">
                            <div class="col-md-4">
                                <label for="down_score" class="form-label mt-3">Down Score</label>
                                <div class="input-group">
                                    <input type="text" name="down_score" id="down_score" class="form-control"
                                        autocomplete="off" value="{{objective.down_score}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="trauma_score" class="form-label mt-3">Trauma Score</label>
                                <div class="input-group">
                                    <input type="text" name="trauma_score" id="trauma_score" class="form-control"
                                        autocomplete="off" value="{{objective.trauma_score}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="meows_score" class="form-label mt-3">Meows Score</label>
                                <div class="input-group">
                                    <input type="text" name="meows_score" id="meows_score" class="form-control"
                                        autocomplete="off" value="{{objective.meows_score}}">
                                </div>
                            </div>
                        </div>
                        <div class="row gy-3">
                            <div class="col-md-4">
                                <label for="berat_badan" class="form-label mt-3">Berat Badan</label>
                                <div class="input-group">
                                    <input type="text" name="berat_badan" id="berat_badan" class="form-control"
                                        autocomplete="off" value="{{objective.berat_badan}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="tinggi_badan" class="form-label mt-3">Tinggi Badan</label>
                                <div class="input-group">
                                    <input type="text" name="tinggi_badan" id="tinggi_badan" class="form-control"
                                        autocomplete="off" value="{{objective.tinggi_badan}}">
                                </div>
                            </div>
                        </div>
                        <div class="row gy-3">
                            <div class="col-md-4">
                                <label for="gcs_e" class="form-label mt-3">GCS E</label>
                                <div class="input-group">
                                    <input type="text" name="gcs_e" id="gcs_e" class="form-control" autocomplete="off"
                                        value="{{objective.gcs_e}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="gcs_m" class="form-label mt-3">GCS M</label>
                                <div class="input-group">
                                    <input type="text" name="gcs_m" id="gcs_m" class="form-control" autocomplete="off"
                                        value="{{objective.gcs_m}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="gcs_v" class="form-label mt-3">GCS V</label>
                                <div class="input-group">
                                    <input type="text" name="gcs_v" id="gcs_v" class="form-control" autocomplete="off"
                                        value="{{objective.gcs_v}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-body">
                        <h5 class="mt-3 h5">Status Generalis</h5>
                        <div class="row gy-3">
                            <div class="col-md-4">
                                <label for="kepala" class="form-label mt-3">Kepala</label>
                                <div class="input-group">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="kepala" id="kepala1"
                                            value="Normal" {% if objective.kepala == 'Normal' %}checked{% endif %}>
                                        <label class="form-check-label" for="kepala1">Normal</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="kepala" id="kepala2"
                                            value="Abnormal" {% if objective.kepala == 'Abnormal' %}checked{% endif %}>
                                        <label class="form-check-label" for="kepala2">Abnormal</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="mata" class="form-label mt-3">Mata</label>
                                <div class="input-group">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mata" id="mata1"
                                            value="Normal" {% if objective.mata == 'Normal' %}checked{% endif %}>
                                        <label class="form-check-label" for="mata1">Normal</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mata" id="mata2"
                                            value="Abnormal" {% if objective.mata == 'Abnormal' %}checked{% endif %}>
                                        <label class="form-check-label" for="mata2">Abnormal</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="telinga" class="form-label mt-3">Telinga</label>
                                <div class="input-group">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="telinga" id="telinga1"
                                            value="Normal" {% if objective.telinga == 'Normal' %}checked{% endif %}>
                                        <label class="form-check-label" for="telinga1">Normal</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="telinga" id="telinga2"
                                            value="Abnormal" {% if objective.telinga == 'Abnormal' %}checked{% endif %}>
                                        <label class="form-check-label" for="telinga2">Abnormal</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gy-3">
                            <div class="col-md-4">
                                <label for="hidung" class="form-label mt-3">Hidung</label>
                                <div class="input-group">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="hidung" id="hidung1"
                                            value="Normal" {% if objective.hidung == 'Normal' %}checked{% endif %}>
                                        <label class="form-check-label" for="hidung1">Normal</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="hidung" id="hidung2"
                                            value="Abnormal" {% if objective.hidung == 'Abnormal' %}checked{% endif %}>
                                        <label class="form-check-label" for="hidung2">Abnormal</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="gigi" class="form-label mt-3">Gigi</label>
                                <div class="input-group">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gigi" id="gigi1"
                                            value="Normal" {% if objective.gigi == 'Normal' %}checked{% endif %}>
                                        <label class="form-check-label" for="gigi1">Normal</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gigi" id="gigi2"
                                            value="Abnormal" {% if objective.gigi == 'Abnormal' %}checked{% endif %}>
                                        <label class="form-check-label" for="gigi2">Abnormal</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="mulut" class="form-label mt-3">Mulut</label>
                                <div class="input-group">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mulut" id="mulut1"
                                            value="Normal" {% if objective.mulut == 'Normal' %}checked{% endif %}>
                                        <label class="form-check-label" for="mulut1">Normal</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mulut" id="mulut2"
                                            value="Abnormal" {% if objective.mulut == 'Abnormal' %}checked{% endif %}>
                                        <label class="form-check-label" for="mulut2">Abnormal</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gy-3">
                            <div class="col-md-4">
                                <label for="leher" class="form-label mt-3">Leher</label>
                                <div class="input-group">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="leher" id="leher1"
                                            value="Normal" {% if objective.leher == 'Normal' %}checked{% endif %}>
                                        <label class="form-check-label" for="leher1">Normal</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="leher" id="leher2"
                                            value="Abnormal" {% if objective.leher == 'Abnormal' %}checked{% endif %}>
                                        <label class="form-check-label" for="leher2">Abnormal</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="wajah" class="form-label mt-3">Wajah</label>
                                <div class="input-group">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="wajah" id="wajah1"
                                            value="Normal" {% if objective.wajah == 'Normal' %}checked{% endif %}>
                                        <label class="form-check-label" for="wajah1">Normal</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="wajah" id="wajah2"
                                            value="Abnormal" {% if objective.wajah == 'Abnormal' %}checked{% endif %}>
                                        <label class="form-check-label" for="wajah2">Abnormal</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="thorax" class="form-label mt-3">Thorax</label>
                                <div class="input-group">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="thorax" id="thorax1"
                                            value="Normal" {% if objective.thorax == 'Normal' %}checked{% endif %}>
                                        <label class="form-check-label" for="thorax1">Normal</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="thorax" id="thorax2"
                                            value="Abnormal" {% if objective.thorax == 'Abnormal' %}checked{% endif %}>
                                        <label class="form-check-label" for="thorax2">Abnormal</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gy-3">
                            <div class="col-md-4">
                                <label for="paru_paru" class="form-label mt-3">Paru paru</label>
                                <div class="input-group">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="paru_paru" id="paru_paru1"
                                            value="Normal" {% if objective.paru_paru == 'Normal' %}checked{% endif %}>
                                        <label class="form-check-label" for="paru_paru1">Normal</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="paru_paru" id="paru_paru2"
                                            value="Abnormal" {% if objective.paru_paru == 'Abnormal' %}checked{% endif %}>
                                        <label class="form-check-label" for="paru_paru2">Abnormal</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="jantung" class="form-label mt-3">Jantung</label>
                                <div class="input-group">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="jantung" id="jantung1"
                                            value="Normal" {% if objective.jantung == 'Normal' %}checked{% endif %}>
                                        <label class="form-check-label" for="jantung1">Normal</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="jantung" id="jantung2"
                                            value="Abnormal" {% if objective.jantung == 'Abnormal' %}checked{% endif %}>
                                        <label class="form-check-label" for="jantung2">Abnormal</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="abdomen" class="form-label mt-3">Abdomen</label>
                                <div class="input-group">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="abdomen" id="abdomen1"
                                            value="Normal" {% if objective.abdomen == 'Normal' %}checked{% endif %}>
                                        <label class="form-check-label" for="abdomen1">Normal</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="abdomen" id="abdomen2"
                                            value="Abnormal" {% if objective.abdomen == 'Abnormal' %}checked{% endif %}>
                                        <label class="form-check-label" for="abdomen2">Abnormal</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gy-3">
                            <div class="col-md-4">
                                <label for="hati" class="form-label mt-3">Hati</label>
                                <div class="input-group">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="hati" id="hati1"
                                            value="Normal" {% if objective.hati == 'Normal' %}checked{% endif %}>
                                        <label class="form-check-label" for="hati1">Normal</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="hati" id="hati2"
                                            value="Abnormal" {% if objective.hati == 'Abnormal' %}checked{% endif %}>
                                        <label class="form-check-label" for="hati2">Abnormal</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="limpa" class="form-label mt-3">Limpa</label>
                                <div class="input-group">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="limpa" id="limpa1"
                                            value="Normal" {% if objective.limpa == 'Normal' %}checked{% endif %}>
                                        <label class="form-check-label" for="limpa1">Normal</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="limpa" id="limpa2"
                                            value="Abnormal" {% if objective.limpa == 'Abnormal' %}checked{% endif %}>
                                        <label class="form-check-label" for="limpa2">Abnormal</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="generalia" class="form-label mt-3">generalia</label>
                                <div class="input-group">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="generalia" id="generalia1"
                                            value="Normal" {% if objective.generalia == 'Normal' %}checked{% endif %}>
                                        <label class="form-check-label" for="generalia1">Normal</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="generalia" id="generalia2"
                                            value="Abnormal" {% if objective.generalia == 'Abnormal' %}checked{% endif %}>
                                        <label class="form-check-label" for="generalia2">Abnormal</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gy-3">
                            <div class="col-md-4">
                                <label for="ektrimitas" class="form-label mt-3">Ekstrimitas</label>
                                <div class="input-group">
                                    <textarea rows="3" type="text" class="form-control" name="ekstrimitas"
                                        id="ektrimitas">{% if objective.ekstrimitas != None %}{{objective.ekstrimitas}}{% endif %}</textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="status_lokalis" class="form-label mt-3">Status Lokalis</label>
                                <div class="input-group">
                                    <textarea rows="3" type="text" class="form-control" name="status_lokalis"
                                        id="status_lokalis">{% if objective.status_lokalis != None %}{{objective.status_lokalis}}{% endif %}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-body">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>