<div class="row g-3 mt-2">
    <hr class="my-1 text-primary">
    <div class="accordion" id="accordionSubjective">
        <div class="accordion-item">

            <h2 class="accordion-header" id="headingOneSubjective">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOneSubjective" aria-expanded="true" aria-controls="collapseOneSubjective">
                    Subjective
                </button>
            </h2>

            <form method="POST" action="/soap/subjective">
                {% csrf_token %}
                <input type="hidden" name="antrian_id" value="{{antrian.id}}">
                <div id="collapseOneSubjective" class="accordion-collapse collapse show collapse show"
                    aria-labelledby="headingOneSubjective" data-bs-parent="#accordionSubjective">
                    <div class="accordion-body">
                        <h5 class="mt-3 h5">Keluhan Utama</h5>
                        <div class="row gy-3">
                            <div class="col-md-4">
                                <label for="keluhan_utama" class="form-label mt-3">Keluhan Utama</label>
                                <div class="input-group">
                                    <textarea rows="3" type="text" class="form-control" name="keluhan_utama"
                                        id="keluhan_utama">{{subjective.keluhan_utama}}</textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="riwayat_penyakit_dahulu" class="form-label mt-3">Riwayat Penyakit
                                    Dahulu</label>
                                <div class="input-group">
                                    <textarea rows="3" type="text" class="form-control" name="riwayat_penyakit_dahulu"
                                        id="riwayat_penyakit_dahulu">{{ subjective.riwayat_penyakit_dahulu }}</textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="kondisi_umum" class="form-label mt-3">Kondisi Umum</label>
                                <div class="input-group">
                                    <select class="form-select" name="kondisi_umum" id="kondisi_umum" required="">
                                        <option value="{{kondisi_pasien.kondisi_umum}}">{{subjective.kondisi_umum}}
                                        </option>
                                        <option value="Baik">Baik</option>
                                        <option value="Buruk">Buruk</option>
                                        <option value="Sedang">Sedang</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row gy-3">
                                <div class="col-md-4">
                                    <label for="riwayat_penyakit_sekarang" class="form-label mt-3">Riwayat Penyakit
                                        Sekrang</label>
                                    <div class="input-group">
                                        <textarea rows="3" type="text" class="form-control"
                                            name="riwayat_penyakit_sekarang"
                                            id="riwayat_penyakit_sekarang">{{ subjective.riwayat_penyakit_sekarang }}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button class="btn btn-primary me-md-2" type="submit">Submit</button>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>