{% extends 'basic.html' %}
{% load humanize i18n static %}
{% block title %}
IGD BPJS
{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
{% language 'id' %}
<main class="h-100">
  {% include "header.html" %}
  <!-- main page content -->
  <div class="main-container container">
    <!--card pelayanan-->
    <div class="row mb-2">
      {% for x in messages %}
      <button class="btn btn-primary col-lg-12">{{ x }}</button>
      {% endfor %}
    </div>
    <div class="container-fluid">
      <div class="row g-5">
        <div class="card">
          <div class="col-md-12">
            <h4 class="mt-3">SOAP</h4>
            <hr class="my-3 text-primary">

            {% include 'soap/rawat-jalan/form-subjective.html' %}
            {% include 'soap/rawat-jalan/form-objective.html' %}
            {% include 'soap/rawat-jalan/form-planning.html' %}
            {% include 'soap/rawat-jalan/form-icd10.html' %}
            {% include 'soap/rawat-jalan/form-icd9.html' %}
            {% include 'soap/rawat-jalan/form-layanan-radiologi.html' %}
            {% include 'soap/rawat-jalan/form-layanan-lab.html' %}
            {% include 'soap/rawat-jalan/form-layanan-tindakan.html' %}
            {% include 'soap/rawat-jalan/form-layanan-edukasi.html' %}
            {% include 'soap/rawat-jalan/form-layanan-konsultasi.html' %}
            {% include 'soap/rawat-jalan/form-layanan-monitoring.html' %}
            {% include 'soap/rawat-jalan/form-obat.html' %}
            {% include 'soap/rawat-jalan/form-alkes.html' %}
            <div class="d-grid gap-2 col-6 mx-auto" style="padding-top: 30px; padding-bottom: 30px;">
              <form method="POST" action="/dokter/rawat-jalan/{{antrian.id}}/selesai">
                {% csrf_token %}
                <button class="btn btn-success" type="submit" style="width: 100%;">Selesai</button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
</main>

{% endlanguage %}
{% endblock %}