<div class="row g-3 mt-2">
    <hr class="my-1 text-primary">
    <div class="accordion" id="accordionLayananObat">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOneLayananObat">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOneLayananObat" aria-expanded="true"
                    aria-controls="collapseOneLayananObat">
                    Layanan Obat
                </button>
            </h2>

            <div id="collapseOneLayananObat" class="accordion-collapse collapse show collapse show"
                aria-labelledby="headingOneLayananObat" data-bs-parent="#accordionLayananObat">
                <div class="accordion-body">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#exampleModalObat">
                        Tambah Layanan Obat
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalObat" tabindex="-1" aria-labelledby="exampleModalLabelObat"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabelObat">Tambah Layanan Obat
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <form method="POST" action="/farmasi/obat-pasien">
                                    {% csrf_token %}
                                    <input type="hidden" name="antrian_id" value="{{antrian.id}}" />
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">Obat</label>
                                            <select class="form-select" aria-label="Default select example"
                                                name="obat_id">
                                                {% for obat in obat_list %}
                                                <option value="{{obat.id}}">{{obat.nama}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">Kuantitas</label>
                                            <input type="number" class="form-control" id="exampleFormControlInput1"
                                                name="kuantitas">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlTextarea1"
                                                class="form-label">Deskripsi</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                                name="deskripsi"></textarea>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="display: block;">
                        <table class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th>Obat</th>
                                    <th>Harga</th>
                                    <th>Kuantitas</th>
                                    <th>Total Harga</th>
                                    <th>Obat</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for obat in obat_pasien %}
                                <tr>
                                    <td><input type="text" class="form-control" value="{{obat.obat.nama}}" readonly
                                            disabled></td>
                                    <td><input type="text" class="form-control" value="{{obat.harga}}" readonly
                                            disabled></td>
                                    <td><input type="text" class="form-control" value="{{obat.kuantitas}}" readonly
                                            disabled></td>
                                    <td><input type="text" class="form-control" value="{{obat.total_harga}}" readonly
                                            disabled></td>
                                    <td>
                                        <form method="POST" action="/farmasi/obat-pasien/{{obat.id}}/hapus">
                                            {% csrf_token %}
                                            <button class="btn btn-warning" type="submit">Hapuss</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>