<div class="row g-3 mt-2">
    <hr class="my-1 text-primary">
    <div class="accordion" id="accordionLayananICDX">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOneLayananICDX">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOneLayananICDX" aria-expanded="true"
                    aria-controls="collapseOneLayananICDX">
                    Layanan ICDX
                </button>
            </h2>
            <div id="collapseOneLayananICDX" class="accordion-collapse collapse show collapse show"
                aria-labelledby="headingOneLayananICDX" data-bs-parent="#accordionLayananICDX">
                <div class="accordion-body">
                    <button class="btn btn-outline-success" type="button">Tambah Baris</button>
                    <div class="card-body" style="display: block;">
                        <table class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th>Nama</th>
                                    <th>Kode</th>
                                    <th>Tindakan</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td>
                                        <button class="btn btn-primary" type="button">Simpan</button>
                                        <button class="btn btn-warning" type="button">Hapus</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>