<div class="row g-3 mt-2">
    <hr class="my-1 text-primary">
    <div class="accordion" id="accordionLayananRadiologi">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOneLayananRadiologi">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOneLayananRadiologi" aria-expanded="true"
                    aria-controls="collapseOneLayananRadiologi">
                    Layanan Radiologi
                </button>
            </h2>
            <div id="collapseOneLayananRadiologi" class="accordion-collapse collapse show collapse show"
                aria-Radiologielledby="headingOneLayananRadiologi" data-bs-parent="#accordionLayananRadiologi">
                <div class="accordion-body">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" ,
                        data-bs-target="#exampleModalRadiologi">
                        Request Layanan Radiologi
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalRadiologi" tabindex="-1"
                        aria-Radiologielledby="exampleModalRadiologielRadiologi" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalRadiologielRadiologi">Layanan Radiologi
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-Radiologiel="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="/radiologi/request/layanan-radiologi/rawat-jalan">
                                        {% csrf_token %}
                                        <input type="hidden" name="antrian_id" value="{{antrian.id}}" />
                                        <div class="row row-cols-1 row-cols-sm-4 g-4">
                                            {% for kategori in kategori_layanan_radiologi %}
                                            <div class="col">
                                                <div class="dropdown">
                                                    <button type="button"
                                                        class="btn btn-outline-success dropdown-toggle"
                                                        data-bs-toggle="dropdown" aria-expanded="false"
                                                        data-bs-auto-close="outside" style="width: 260px;">
                                                        {{kategori.nama}}
                                                    </button>
                                                    <div class="dropdown-menu p-4">
                                                        <div class="mb-3" style="width: 240px;">
                                                            {% for layanan in kategori.layananradiologi_set.all %}

                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox"
                                                                    value="{{layanan.id}}" id="flexCheckDefault"
                                                                    name="layanan_id">
                                                                <label class="form-check-Radiologiel"
                                                                    for="flexCheckDefault">
                                                                    {{layanan.nama}} (harga {{layanan.harga}})
                                                                </label>
                                                            </div>

                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <br>
                                        <div class="mb-3">
                                            <label for="exampleFormControlTextarea1" class="form-label">Diagnosa</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                                name="diagnosa"></textarea>
                                        </div>
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card-body" style="display: block;">
                        <table class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th>Layanan</th>
                                    <th>Harga</th>
                                    <th>Kuantitas</th>
                                    <th>Total Harga</th>
                                    <th>Status</th>
                                    <th>Tindakan</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for layanan in layanan_radiologi_pasien %}
                                <tr>
                                    <td>{{layanan.layanan_radiologi.nama}}</td>
                                    <td>{{layanan.harga}}</td>
                                    <td>{{layanan.kuantitas}}</td>
                                    <td>{{layanan.total_harga}}</td>
                                    <td>{{layanan.status_layanan}}</td>
                                    <td>
                                        <a class="btn btn-primary" type="button"
                                            href="/radiologi/rawat-jalan/hasil/{{layanan.id}}" target="_blank">Lihat
                                            Hasil</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>