    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <span>
                            <i class="nav-icon bi bi-house"></i>
                            <span class="nav-text">Dashboard</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span>
                            <i class="nav-icon bi bi-person"></i>
                            <span class="nav-text">Profil</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item centerbutton">
                    <div class="nav-link">
                        <span class="theme-radial-gradient">
                            <i class="close bi bi-x"></i>
<!--                            <img src="static/desain/assets/img/centerbutton.svg" class="nav-icon" alt="" />-->
                        </span>
<!--                        <div class="nav-menu-popover justify-content-between">-->
                        <div class="nav-menu-popover justify-content-center">
                            <center>
                            <button type="button" class="btn btn-lg btn-icon-text btn-block"
                                onclick="window.location.replace('#');">
                                <i class="bi bi-hospital size-32"></i><span>Customized</span>
                            </button></center>
<!--                            <button type="button" class="btn btn-lg btn-icon-text"-->
<!--                                onclick="window.location.replace('');">-->
<!--                                <i class="bi bi-hospital size-32"></i><span>Perawat</span>-->
<!--                            </button>-->

<!--                            <button type="button" class="btn btn-lg btn-icon-text"-->
<!--                                onclick="window.location.replace('');">-->
<!--                                <i class="bi bi-coin size-32"></i><span>Kasir</span>-->
<!--                            </button>-->

<!--                            <button type="button" class="btn btn-lg btn-icon-text"-->
<!--                                onclick="window.location.replace('');">-->
<!--                                <i class="bi bi-prescription2 size-32"></i><span>Dokter</span>-->
<!--                            </button>-->

<!--                            <button type="button" class="btn btn-lg btn-icon-text"-->
<!--                                onclick="window.location.replace('');">-->
<!--                                <i class="bi bi-capsule-pill size-32"></i><span>Farmasi</span>-->
<!--                            </button>-->
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span>
                            <i class="nav-icon bi bi-chat-text"></i>
                            <span class="nav-text">Chat</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item">

                    <a class="nav-link  menu-btn" href="javascript:void(0)" target="_self">
                        <span>
                            <i class="nav-icon bi bi-list"></i>
                            <span class="nav-text">Menu</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
    <!-- Footer ends-->
