<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">



    <!-- search  -->
    <div class="card-body">
        <form class="row g-3">
            <div class="col-auto">
              <label for="inputSearch" class="visually-hidden">Password</label>
              <input list="dataPasien" type="text" class="form-control" id="inputSearch" placeholder="NIK / Nama">
              <datalist id="dataPasien">
                <!-- <option value="aaaaa">aaaaa</option> -->
             </datalist>
            </div>
          </form>
          <script>
            function aturDataPasien(element) {
                var nama = document.getElementById("nama_pasien_exist")
                nama.value = element.nama
                var nik = document.getElementById("nomor_nik_exist")
                nik.value = element.nik
                var tanggal_lahir = document.getElementById("tanggal_lahir_exist")
                tanggal_lahir.value = element.tanggal_lahir
                var jenis_kelamin = document.getElementById("jenis_kelamin_exist")
                jenis_kelamin.value = element.jenis_kelamin
                var agama = document.getElementById("agama_exist")
                agama.value = element.agama
                var provinsi = document.getElementById("provinsi_exist")
                provinsi.value = element.provinsi
                var kabupaten = document.getElementById("kabupaten_exist")
                kabupaten.value = element.kabupaten
                var kecamatan = document.getElementById("kecamatan_exist")
                kecamatan.value = element.kecamatan
                var alamat = document.getElementById("alamat_exist")
                alamat.value = element.alamat
                var pasien_id = document.getElementById("pasien_id")
                pasien_id.value = element.id

            }
            var inpuSearch = document.getElementById("inputSearch")
            var dataListPasien = document.getElementById("dataPasien")
            inpuSearch.addEventListener("input", function(e) {
                dataListPasien.innerHTML = ''
                var v = e.target.value
                if (v.length >=2 ) {
                    fetch(`/pasien/api/pasien?search=${v}`).then(res => {
                    if (res.status === 200) {
                        return res.json()
                    }
                }).then(data => {
                    data.forEach(element => {
                        var option = document.createElement("option")
                        option.textContent = element.nama
                        option.value = element.nama
                        dataListPasien.appendChild(option)
                        option.addEventListener("input", aturDataPasien(element))
                    });
                })
                }
            })
          </script>
    </div>
    <!-- end search  -->

    <div class="card-body">
            <div class="mb-3 row">
                <label for="inputNamaPasien" class="col-sm-2 col-form-label">Nama</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nama_pasien_exist" name="nama" disabled>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputNomorNIK" class="col-sm-2 col-form-label">Nomor NIK</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="nomor_nik_exist" name="nik" disabled>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputNomorNIK" class="col-sm-2 col-form-label">Tanggal lahir</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="tanggal_lahir_exist" name="tanggal_lahir" disabled>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputJenisKelamin" class="col-sm-2 col-form-label">Jenis Kelamin</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="jenis_kelamin_exist" name="jenis_kelamin" disabled>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputAgama" class="col-sm-2 col-form-label">Agama</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="agama_exist" name="agama" disabled>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputNamaPasien" class="col-sm-2 col-form-label">Provinsi</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="provinsi_exist" name="provinsi" disabled>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputKabupaten" class="col-sm-2 col-form-label">Kabupaten</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="kabupaten_exist" name="kabupaten" disabled>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputKecamatan" class="col-sm-2 col-form-label">Kecamatan</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="kecamatan_exist" name="kecamatan" disabled>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputAlamat" class="col-sm-2 col-form-label">Alamat</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="alamat_exist" name="alamat" disabled>
                </div>
            </div>
            <form method="POST" action="/admisi/pendaftaran/rawat-jalan/pasien-lama/{{antrian.id}}">
                {% csrf_token %}
                <input type="hidden" name="pasien_id" id="pasien_id" value="">
                <div class="mb-3 row">
                    <label for="inputAsuransi" class="col-sm-2 col-form-label">Asuransi</label>
                    <div class="col-sm-10">
                        <select class="form-select" aria-label="Default select example" name="asuransi">
                            {% for a in asuransi %}
                            <option value="{{a.0}}">{{a.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputAsuransi" class="col-sm-2 col-form-label">Poli</label>
                    <div class="col-sm-10">
                        <select class="form-select" aria-label="Default select example" name="poli">
                            {% for a in poli %}
                            <option value="{{a.id}}">{{a.nama}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputAsuransi" class="col-sm-2 col-form-label">Dokter</label>
                    <div class="col-sm-10">
                        <select class="form-select" aria-label="Default select example" name="dokter">
                            {% for a in dokter %}
                            <option value="{{a.id}}">{{a.get_full_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputAsuransi" class="col-sm-2 col-form-label">Rujukan</label>
                    <div class="col-sm-10">
                        <select class="form-select" aria-label="Default select example" name="rujukan">
                            {% for a in rujukan %}
                            <option value="{{a.0}}">{{a.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputAlamat" class="col-sm-2 col-form-label">No Rujukan</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputAlamat" name="no_rujukan">
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary" type="submit">Submit</button>
                  </div>
            </form>
    </div>
</div>