{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    .OLevelResult {
        display: none;
    }
    .OLevelResult.active {
        display: block;
    }
</style>
<div class="col-xl-12 col-md-12 mb-4 mt-4">
    <div class="card table-card">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5>Detail - Data Klaim</h5>
        </div>
{#        <div class="container-fluid">#}
{#                {% if messages %}#}
{#                    {% for message in messages %}#}
{#                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-3" role="alert">#}
{#                            {{ message }}#}
{#                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                {% endif %}#}
{#                </div>#}
        <div class="card-body">
            <div class="row">
                <div class="col-6 m-l-30 mt-4">
                    <table class="table">
                    <tbody>
                      <tr>
                        <td><b>NO SEP :</b></td>
                        <td>{{data_klaim.NOSEP}}</td>
                      </tr>
                      <tr>
                        <td><b>NAMA PPKLAYAN</b></td>
                        <td>{{data_klaim.faskes.nama}}</td>
                      </tr>
                      <tr>
                        <td><b>BULAN PELAYANAN : </b></td>
                        <td>{{data_klaim.bupel | date:'M-y'}}</td>
                      <tr>
                        <td><b>KDINACBG : </b></td>
                        <td>{{data_klaim.KDINACBG }}</td>
                      </tr>
                      <tr>
                        <td><b>BIAYA : </b></td>
                        <td>{{data_klaim.BYPENGAJUAN }}</td>
                      </tr>
                      <tr>
                        <td><b>ALGORITMA : </b></td>
                        <td>{{data_klaim.ALGORITMA }}</td>
                      </tr>
                      <tr>
                        <td><b>KETERANGAN PENDING/DISPUTE : </b></td>
                        <td>
                            <table class="table">
                                <tr>
                                    <th>Tanggal</th>
                                    <th>Verifikator</th>
                                    <th>Keterangan Pending</th>
                                </tr>
                                {% for data_klaim in data_klaim.ket_pending_dispute.all %}
                                <tr>
                                    <td>{{ data_klaim.created_at | date:'d-m-Y' }}</td>
                                    <td>{{ data_klaim.verifikator }} </td>
                                    <td>{{ data_klaim.ket_pending_dispute }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </td>
                      <tr>
                        <td><b>PEMBAHASAN : </b></td>
                        <td>
                            <table class="table">
                                <tr>
                                    <th>Tanggal</th>
                                    <th>User Faskes</th>
                                    <th>Jawaban</th>
                                </tr>
                                {% for data_klaim in data_klaim.ket_jawaban_pending.all %}
                                <tr>
                                    <td>{{ data_klaim.created_at | date:'d-m-Y' }}</td>
                                    <td>{{ data_klaim.user_faskes }} </td>
                                    <td>{{ data_klaim.ket_jawaban_pending }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </td>
                      </tr>
                      <tr>
                        <td><b>Status Data Klaim : </b></td>
                        <td>{% include 'base_status_data_klaim.html' %}</td>
                      </tr>
                    </tbody>
                    </table>

{#                    <form method="POST" action="/detail-data-klaim/edit">#}
{#                        <input type="hidden" name="id_dataklaimcbg" value="{{ data_klaim.id }}">#}
{#                        <select class="form-select" aria-label="Status" name="status">#}
{#                        <option selected>Pilih Status</option>#}
{#                        {%  for x in listchoicestatus %}#}
{#                        <option value="{{ x }}">{{ x }}</option>#}
{#                        {% endfor %}#}
{##}
{#                        </select>#}
{#                        <select class="form-select" aria-label="Jenis Pending" name="jenis_pending">#}
{#                        <option selected>Pilih Proses</option>#}
{#                        <option value="1">One</option>#}
{#                        <option value="2">Two</option>#}
{#                        <option value="3">Three</option>#}
{#                        </select>#}
{#                        <select class="form-select" aria-label="Jenis Dispute" name="jenis_dispute">#}
{#                        <option selected>Pilih Satu Lagi</option>#}
{#                        <option value="1">One</option>#}
{#                        <option value="2">Two</option>#}
{#                        <option value="3">Three</option>#}
{#                        </select>#}
{#                        <textarea classe="form-control" name="keterangan"></textarea>#}
{#                        <button class="btn btn-primary w-100" type="submit">EDIT</button>#}
{#                    </form>#}

            <form method="POST">
                {% csrf_token %}
                {{ data_klaim_form|crispy }}
                <div id="pending-form">
                    {{ data_klaim_pending_form|crispy }}
                </div>
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                <button class="btn btn-primary w-100" type="submit">Simpan</button>
            </form>
        </div>
        </div>
        </div>
    </div>
</div>

<script>
function changeOptions(selectEl) {
    let subForms = document.getElementsByClassName('OLevelResult')
    if (selectEl === 'Pending') {
        document.getElementById("div_id_jenis_pending").classList.add("active");
        document.getElementById("div_id_ket_pending_dispute").classList.add("active");
        document.getElementById("id_jenis_pending").setAttribute("required", "");
        document.getElementById("id_ket_pending_dispute").setAttribute("required", "");

        document.getElementById("div_id_jenis_dispute").classList.remove("active");
        document.getElementById("id_jenis_dispute").removeAttribute("required");
    } else if (selectEl === 'Dispute') {
        document.getElementById("div_id_jenis_pending").classList.add("active");
        document.getElementById("div_id_jenis_dispute").classList.add("active");
        document.getElementById("div_id_ket_pending_dispute").classList.add("active");
        document.getElementById("id_jenis_pending").setAttribute("required", "");
        document.getElementById("id_jenis_dispute").setAttribute("required", "");
        document.getElementById("id_ket_pending_dispute").setAttribute("required", "");
    } else if (selectEl === 'Tidak Layak') {
        document.getElementById("div_id_ket_pending_dispute").classList.add("active");
        document.getElementById("id_ket_pending_dispute").setAttribute("required", "");

        document.getElementById("div_id_jenis_pending").classList.remove("active");
        document.getElementById("div_id_jenis_dispute").classList.remove("active");
        document.getElementById("id_jenis_pending").removeAttribute("required");
        document.getElementById("id_jenis_dispute").removeAttribute("required");
    } else {
        document.getElementById("div_id_jenis_pending").classList.remove("active");
        document.getElementById("div_id_jenis_dispute").classList.remove("active");
        document.getElementById("div_id_ket_pending_dispute").classList.remove("active");
        document.getElementById("id_jenis_pending").removeAttribute("required");
        document.getElementById("id_jenis_dispute").removeAttribute("required");
        document.getElementById("id_ket_pending_dispute").removeAttribute("required");
    }
}

{#  for (let i = 0; i < subForms.length; i += 1) {#}
{#    if (selectEl === subForms[i].name) {#}
{#      for(let j=i; j>-1 ;j--) {#}
{#        subForms[j].classList.add("active");#}
{#      }#}
{#    } else {#}
{#      subForms[i].classList.remove("active");#}
{#    }#}
{#  }#}
{#}#}

document.getElementById("id_status").setAttribute("onchange", "changeOptions(this.value)");
document.getElementById("div_id_jenis_pending").classList.add("OLevelResult");
document.getElementById("div_id_jenis_dispute").classList.add("OLevelResult");
document.getElementById("div_id_ket_pending_dispute").classList.add("OLevelResult");
</script>

{% endblock %}