{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-12">
    <div class="card-body">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-3" role="alert">
                {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card table-card">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5>Detail - Register Klaim</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 m-l-30 mt-4">
                        {% include 'base_detail_register_klaim.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if register.status == 'Selesai' %}

    {% elif register.status != 'Pengajuan' and register.verifikator == request.user %}
    <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h5>Aksi Verifikator</h5>
          </div>
          <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{status_form|crispy}}
                <input type="hidden" name="action" value="update_status">
                <button class="btn btn-primary w-100" type="submit">Simpan</button>
            </form>

    {% elif user.groups.all.0.name == 'supervisor' %}
            <form method="POST">
                {% csrf_token %}
                {{status_form|crispy}}
                <input type="hidden" name="action" value="update_status">
                <button class="btn btn-primary w-100" type="submit">Simpan</button>
            </form>

    {% endif %}
          </div>
        </div>
    </div>
</div>
{{ register.tgl_terima | date:'Y-m-d' }}
<script>
    document.getElementById("id_tgl_ba_lengkap").setAttribute("min", "{{ register.tgl_terima | date:'Y-m-d' }}");
    document.getElementById("id_tgl_ba_lengkap").setAttribute("max", "{{ register.tgl_ba_lengkap_seharusnya | date:'Y-m-d' }}");
</script>
{% endblock %}


{#<div class="col-xl-12 col-md-12 mb-4 mt-4">#}
{#    <div class="card table-card">#}
{#        <div class="card-header d-flex align-items-center justify-content-between">#}
{#            <h5>Detail - Register Klaim</h5>#}
{#        </div>#}
{#        <div class="card-body">#}
{#            <div class="container-fluid">#}
{#                {% if messages %}#}
{#                    {% for message in messages %}#}
{#                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-3" role="alert">#}
{#                            {{ message }}#}
{#                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                {% endif %}#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col-6 m-l-30 mt-4">#}
{#                    {% include 'base_detail_register_klaim.html' %}#}
{##}
{#            {% if register.status == 'Selesai' %}#}
{##}
{#            {% elif register.status != 'Pengajuan' and register.verifikator == request.user %}#}
{#            <form method="POST">#}
{#                {% csrf_token %}#}
{#                {{status_form|crispy}}#}
{#                <input type="hidden" name="action" value="update_status">#}
{#                <button class="btn btn-primary w-100" type="submit">Simpan</button>#}
{#            </form>#}
{##}
{#            {% elif user.groups.all.0.name == 'supervisor' %}#}
{#            <form method="POST">#}
{#                {% csrf_token %}#}
{#                {{status_form|crispy}}#}
{#                <input type="hidden" name="action" value="update_status">#}
{#                <button class="btn btn-primary w-100" type="submit">Simpan</button>#}
{#            </form>#}
{##}
{#            {% endif %}#}
{#        </div>#}
{#        </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}


