{% extends 'basic.html' %}
{% load humanize i18n static %}
{% block title %}
Mutasi ke Rawat Inap
{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
{% language 'id' %}
<main class="h-100">
    {% include "header.html" %}
    <div class="row mb-2">
        {% for x in messages %}
        <button class="btn btn-primary col-lg-12">{{ x }}</button>
        {% endfor %}
    </div>
            <center><div class="row text-center mb-4" style="max-width: 900px;">
                <center><a href="/rawatinap/daftarpasienrawatinap" class="btn btn-primary">Lihat Pasien Rawat Inap</a></center>
            </div></center>
    <div class="container-sm" style="max-width: 900px;">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Cari Data Pasien</h5>
            </div>
            <div class="row">
                <div class="col-6">
            <div class="card-body">
                <form method="post" action="/rawatinap/caridatapasienvianik">
                    {% csrf_token %}
                    <div class="form-group mb-2">
                        <label for="nik">Cari Data Pasien by NIK</label>
                        <input type="text" class="form-control mt-2" id="nik" name="nik">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
                </div>
                <div class="col-6">
            <div class="card-body">
                <form method="post" action="/rawatinap/caridatapasienviabpjs">
                    {% csrf_token %}
                    <div class="form-group mb-2">
                        <label for="bpjs">Cari Data Pasien by BPJS</label>
                        <input type="text" class="form-control mt-2" id="bpjs" name="nokartu">
                    </div>
                    <button type="submit" class="btn btn-success text-white">Submit</button>
                </form>
            </div>
                </div>
            </div>
            {% if nokartu %}
            <hr>
            <div class="row text-center">
                <h3>Daftarkan ke Rawat Inap</h3>
                <p>Pastikan Kode DPJP dan Kode Poli Benar / Sesuai</p>
            </div>
            <hr>
            <div class="card-body">
                <form method="post" action="/rawatinap/postmutasirawatinap">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <label for="dpjp">Pilih DPJP (Pembuat SPRI)</label>
                                <select id="dpjp" class="form-select mt-2" name="kodedpjp">
                                    {% for x in datadokternya %}
                                    <option value="{{ x.kodedokter }}">{{ x.kodedokter }} - {{ x.namadokter }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <label for="polkon">Poli Kontrol</label>
                                <select id="polkon" class="form-select mt-2" name="kodepoli">
                                    {% for x in datakodedokterrawatinap %}
                                    <option value="{{ x.kodePoli }}">{{ x.kodePoli }} - {{ x.namaPoli }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <label for="icd10">Pilih ICD10</label>
                                <select id="icd10" class="form-select mt-2" name="kodeicd">
                                    {% for x in dataicd10nya %}
                                    <option value="{{ x.kode }}">{{ x.nama }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            <div class="form-group">
                                <label for="catatan">Catatan</label>
                                <input type="text" name="catatan" id="catatan" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                    <div class="row">
                        <input type="hidden" name="namapasien" value="{{ nama }}">
                        <input type="hidden" name="nokartu" value="{{ nokartu }}">
                        <input type="hidden" name="norm" value="{{ noMR }}">
                        <input type="hidden" name="nomorpasien" value="{{ noTelepon }}">
                        <button type="submit" class="btn-block btn btn-success text-light">Daftarkan Ke UGD</button>
                    </div>
                    </div>
                </form>
            </div>
            <hr>
            <div class="row text-center">
                <h5>Data Pasien</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nokartu">Nomor Kartu</label>
                                <input type="text" class="form-control" id="nokartu" name="nokartu"
                                       value="{{ nokartu }}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="nik">NIK</label>
                                <input type="text" class="form-control" id="nik" name="nik" value="{{ nik }}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="nama">Nama</label>
                                <input type="text" class="form-control" id="nama" name="nama"
                                       value="{{ nama }}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="pisa">PISA</label>
                                <input type="text" class="form-control" id="pisa" name="pisa"
                                       value="{{ pisa }}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="sex">Jenis Kelamin</label>
                                <input type="text" class="form-control" id="sex" name="sex" value="{{ sex }}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="noMR">Nomor MR</label>
                                <input type="text" class="form-control" id="noMR" name="noMR"
                                       value="{{ noMR }}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="noTelepon">Nomor Telepon</label>
                                <input type="text" class="form-control" id="noTelepon" name="noTelepon"
                                       value="{{ noTelepon }}" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tglLahir">Tanggal Lahir</label>
                                <input type="text" class="form-control" id="tglLahir" name="tglLahir"
                                       value="{{ tglLahir }}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="tglCetakKartu">Tanggal Cetak Kartu</label>
                                <input type="text" class="form-control" id="tglCetakKartu" name="tglCetakKartu"
                                       value="{{ tglCetakKartu }}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="tglTAT">Tanggal TAT</label>
                                <input type="text" class="form-control" id="tglTAT" name="tglTAT"
                                       value="{{ tglTAT }}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="tglTMT">Tanggal TMT</label>
                                <input type="text" class="form-control" id="tglTMT" name="tglTMT"
                                       value="{{ tglTMT }}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="kodeStatusPeserta">Kode Status Peserta</label>
                                <input type="text" class="form-control" id="kodeStatusPeserta" name="kodeStatusPeserta"
                                       value="{{ kodeStatusPeserta }}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="kdProvider">Kode Provider</label>
                                <input type="text" class="form-control" id="kdProvider" name="kdProvider"
                                       value="{{ kdProvider }}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="nmProvider">Nama Provider</label>
                                <input type="text" class="form-control" id="nmProvider" name="nmProvider"
                                       value="{{ nmProvider }}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="keteranganJenisPeserta">Keterangan Jenis Peserta</label>
                                <textarea class="form-control" id="keteranganJenisPeserta" name="keteranganJenisPeserta"
                                          rows="3" disabled>{{ keteranganJenisPeserta }}</textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}


        </div>
    </div>
    </div>

    {% include 'footer.html' %}
</main>
{% endlanguage %}
{% endblock content %}