{% extends 'basic.html' %}
{% load humanize i18n static %}

{% block title %}
Pemanggil Antrian
{% endblock %}

{% block head %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>
{% endblock %}

{% block content %}
{% language 'id' %}
<main class="h-100">

    {% include "header.html" %}
    <!-- main page content -->
    <div class="main-container container">
        <!--card pelayanan-->
        <div class="row mb-2">
            {% for x in messages %}
            <button class="btn btn-primary col-lg-12">{{ x }}</button>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-center">
            <div class="row mb-3 mt-4 ">
                <div class="col">
                    <h4>Antrian Lab</h4>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">

        </div>
        <div class="row mb-3 mt-4 ">
            <div class="col">
                <div class="card">
                    <div class="card-body">


                        <!-- start  -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No Antrian</th>
                                    <th scope="col">Layanan</th>
                                    <th scope="col">Pasien</th>
                                    <th scope="col">Poli</th>
                                    <th scope="col">Dokter</th>
                                    <th scope="col">Start Mengantri</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for antrian_layanan in layanan_lab_pasien_list %}
                                <tr>
                                    <td>{{antrian_layanan.antrian.no_antrian}}</td>
                                    <td>{{antrian_layanan.layanan_lab.nama}}</td>
                                    <td>{{antrian_layanan.antrian.pendaftaran.pasien.nama}}</td>
                                    <td>{{antrian_layanan.antrian.pendaftaran.poli.nama}}</td>
                                    <td>{{antrian_layanan.antrian.pendaftaran.dokter.get_full_name}}</td>
                                    <td>{{antrian_layanan.antrian.waktu_start_mengantri}}</td>
                                    <td>{% if antrian_layanan.status_layanan == 'Menunggu' %} Menunggu {% elif antrian_layanan.status_layanan == 'Dilayani' %} Dilayani {% endif %}</td>
                                    <td style="display: flex;">
                                        <button type="button" class="btn btn-warning" onclick="speak('nomor antrian {{antrian_layanan.antrian.no_antrian}} atas nama {{antrian_layanan.antrian.pendaftaran.pasien.nama}}silahkan ke ruangan leb {{antrian.pendaftaran.poli.nama}}')" style="margin-left: 5px; margin-right: 5px;">Panggil</button>
                                        {% if antrian_layanan.status_layanan == 'Menunggu' %}
                                        <form method="POST" action="/lab/layanan-lab-hadir/{{antrian_layanan.id}}" target="_blank">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-success" style="margin-left: 5px; margin-right: 5px;">Hadir</button>
                                        </form>
                                        {% elif antrian_layanan.status_layanan == 'Dilayani' %}
                                        <a href="/lab/layanan-lab-laporan/{{antrian_layanan.id}}" target="_blank" class="btn btn-primary" style="margin-left: 5px; margin-right: 5px;">Laporan</a>
                                        {% endif %}
                                        <form method="POST" action="/lab/layanan-lab-batalkan/{{antrian_layanan.id}}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger" style="margin-left: 5px; margin-right: 5px;">Tidak hadir</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- end  -->
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <script>
        function speak(text) {
            var speech = new SpeechSynthesisUtterance();
            speech.text = text
            speech.lang = 'id'
            speech.rate = 0.7
            window.speechSynthesis.speak(speech)
        }
    </script>
    {% include "footer.html" %}
</main>
{% endlanguage %}
{% endblock %}