{% extends 'basic.html' %}
{% load humanize i18n static %}

{% block title %}
Pemanggil Antrian
{% endblock %}

{% block head %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>
{% endblock %}

{% block content %}
{% language 'id' %}
<main class="h-100">

    {% include "header.html" %}
    <!-- main page content -->
    <div class="main-container container">
        <!--card pelayanan-->
        <div class="row mb-2">
            {% for x in messages %}
            <button class="btn btn-primary col-lg-12">{{ x }}</button>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-center">
            <div class="row mb-3 mt-4 ">
                <div class="col">
                    <h4>Laporan Lab</h4>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">

        </div>
        <div class="row mb-3 mt-4 ">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Laporan Hasil Lab</h5>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Layanan</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputPassword"
                                    value="{{layanan.layanan_lab.nama}}" readonly disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Harga</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputPassword"
                                    value="{{layanan.layanan_lab.harga}}" readonly disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Pasien</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputPassword"
                                    value="{{layanan.antrian.pendaftaran.pasien.nama}}" readonly disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Dokter</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputPassword"
                                    value="{{layanan.antrian.pendaftaran.dokter.get_full_name}}" readonly disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Diagnosa</label>
                            <div class="col-sm-10">
                                <textarea type="text" class="form-control" id="inputPassword"
                                     readonly disabled>{{layanan.diagnosa}}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <!-- start  -->
                        <form method="POST" action="/lab/layanan-lab-laporan/{{layanan.id}}"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Nama Pemeriksaan</th>
                                        <th scope="col">Test</th>
                                        <th scope="col">Nilai Normal</th>
                                        <th scope="col">Hasil</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sub in hasil_sub %}
                                    <tr>
                                        <td>{{request.user.get_full_name}}</td>
                                        <td>{{sub.sub_layanan_lab.nama}}</td>
                                        <td>{{sub.sub_layanan_lab.hasil_normal}}</td>
                                        <input type="hidden" value="{{sub.id}}" name="sub_id" />
                                        <td><textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                                                name="hasil_{{sub.id}}" readonly disabled>{{sub.hasil}}</textarea></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <br>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Catatan</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="catatan"
                                    readonly disabled>{{layanan.catatan}}</textarea>
                            </div>
                            <div class="mb-3">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                        </form>
                        <form method="POST" action="/lab/layanan-lab/{{layanan.id}}/selesai">
                            {% csrf_token %}

                        </form>
                    </div>
                </div>

                <!-- end  -->
            </div>
        </div>
    </div>
    </div>
    </div>
    <script>
        function speak(text) {
            var speech = new SpeechSynthesisUtterance();
            speech.text = text
            speech.lang = 'id'
            speech.rate = 0.7
            window.speechSynthesis.speak(speech)
        }
    </script>
    {% include "footer.html" %}
</main>
{% endlanguage %}
{% endblock %}