{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="col-xl-12 col-md-12 mb-4 mt-4">
    <div class="row mb-2 mt-2">
        <div class="col">
            <h3>Ubah Password Anda</h3>
        </div>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-3" role="alert">
                            {{ message }}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
    </div>
    <div class="row mt-2 mb-5">
        <form method="post">
            {% csrf_token %}
{#                        {{ form|crispy }}#}
        <input type="hidden" name="old_password" id="hashedOldPassword" value="">
        <input type="hidden" name="password1" id="hassedPassword1" value="">
        <input type="hidden" name="password2" id="hassedPassword2" value="">
        <div id="div_id_old_password" class="mb-3">
            <label for="id_old_password" class="form-label requiredField">Old password<span class="asteriskField">*</span></label>
            <input type="password" autocomplete="current-password" autofocus class="passwordinput form-control" required id="id_old_password">
        </div>
        <div id="div_id_new_password1" class="mb-3">
            <label for="id_new_password1" class="form-label requiredField">New password<span class="asteriskField">*</span></label>
            <input type="password" autocomplete="new-password" class="passwordinput form-control" required id="id_new_password1">
                <div id="hint_id_new_password1" class="form-text">
                    <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                        <li>Your password must contain at least 1 digit, 0-9.</li>
                        <li>Your password must contain at least 1 uppercase letter, A-Z.</li>
                        <li>Your password must contain at least 1 lowercase letter, a-z.</li>
                        <li>Your password must contain at least 1 symbol: ()[]{}|\`~!@#$%^&amp;*_-+=;:&#x27;&quot;,&lt;&gt;./?</li>
                    </ul>
                </div>
        </div>
        <div id="div_id_new_password2" class="mb-3">
            <label for="id_new_password2" class="form-label requiredField">New password confirmation<span class="asteriskField">*</span></label>
            <input type="password" autocomplete="new-password" class="passwordinput form-control" required id="id_new_password2">
        </div>
        <button type="submit" class="btn btn-primary text-light">UBAH PASSWORD</button>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    const form = document.querySelector("form");
    form.addEventListener("submit", async function (e) {
        e.preventDefault();
        const oldPassword = document.getElementById("id_old_password").value;
        const password1 = document.getElementById("id_new_password1").value;
        const password2 = document.getElementById("id_new_password2").value;
        var derived_key = CryptoJS.enc.Base64.parse("XxfjQ2pEXmiy/nNZvEJ43i8hJuaAnzbA1Cbn1hOuAgA=")
        var iv = CryptoJS.enc.Utf8.parse("1020304050607087");
        var hashedOldPassword = CryptoJS.AES.encrypt(oldPassword, derived_key, {iv: iv, mode: CryptoJS.mode.CBC}).toString();
        var hashedPassword1 = CryptoJS.AES.encrypt(password1, derived_key, {iv: iv, mode: CryptoJS.mode.CBC}).toString();
        var hashedPassword2 = CryptoJS.AES.encrypt(password2, derived_key, {iv: iv, mode: CryptoJS.mode.CBC}).toString();
        document.getElementById("hashedOldPassword").value = hashedOldPassword;
        document.getElementById("hassedPassword1").value = hashedPassword1;
        document.getElementById("hassedPassword2").value = hashedPassword2;
        form.submit();
    });
});
</script>
{% endblock %}
