{% extends 'basic.html' %}
{% load humanize i18n static %}

{% block title %}
Pemanggil Antrian
{% endblock %}

{% block head %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>
{% endblock %}

{% block content %}
{% language 'id' %}
<main class="h-100">

    {% include "header.html" %}
    <!-- main page content -->
    <div class="main-container container">
        <!--card pelayanan-->
        <div class="row mb-2">
            {% for x in messages %}
            <button class="btn btn-primary col-lg-12">{{ x }}</button>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-center">
            <div class="row mb-3 mt-4 ">
                <div class="col">
                    <h4>Laporan Radiologi</h4>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">

        </div>
        <div class="row mb-3 mt-4 ">
            <div class="col">
                <div class="card">
                    <div class="card-body">


                        <!-- start  -->
                        <form method="POST" action="/radiologi/layanan-radiologi-laporan/{{layanan.id}}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Layanan</label>
                                <input class="form-control" type="text" aria-label="Disabled input example"
                                    value="{{layanan.layanan_radiologi.nama}}" disabled readonly>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Status Layanan</label>
                                <input class="form-control" type="text" aria-label="Disabled input example"
                                    value="{{layanan.status_layanan}}" disabled readonly>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Harga</label>
                                <input class="form-control" type="text" aria-label="Disabled input example"
                                    value="{{layanan.layanan_radiologi.harga}}" disabled readonly>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Kuantitas</label>
                                <input class="form-control" type="text" aria-label="Disabled input example"
                                    value="{{layanan.kuantitas}}" disabled readonly>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Total Harga</label>
                                <input class="form-control" type="text" aria-label="Disabled input example"
                                    value="{{layanan.total_harga}}" disabled readonly>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Diagnosa</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" disabled
                                    readonly>{{layanan.diagnosa}}</textarea>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Catatan</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="catatan">{{layanan.catatan}}</textarea>
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="form-label">File Tracer</label>
                                <input class="form-control" type="file" id="formFile" name="file_tracer">
                                <p><a class="link-offset-3" href="{{file_tracer.file.url}}">{{file_tracer.file.url}}</a></p>
                            </div>
                            <div class="mb-3">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button class="btn btn-primary me-md-2" type="submit">Submit</button>
                            </form>        
                                    <form method="POST" action="/radiologi/layanan-radiologi/{{layanan.id}}/selesai">
                                        {% csrf_token %}
                                        <button class="btn btn-outline-primary" type="submit">Selesai</button>
                                    </form>
                                  </div>
                            </div>
                        
                        <!-- end  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function speak(text) {
            var speech = new SpeechSynthesisUtterance();
            speech.text = text
            speech.lang = 'id'
            speech.rate = 0.7
            window.speechSynthesis.speak(speech)
        }
    </script>
    {% include "footer.html" %}
</main>
{% endlanguage %}
{% endblock %}