{% extends 'base.html' %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>
<div class="col-xl-12 col-md-12 mb-4 mt-4">
    <div class="card table-card">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5>Preview Daftar Data Klaim - Register Klaim</h5>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="file_name" value="{{file_name}}">
                <input type="hidden" name="register" value="{{register}}">
                <input type="hidden" name="password" value="{{password}}">
                <input type="hidden" name="action" value="confirm">
                <button class="btn btn-primary" {% if total_data_invalid > 0 %}disabled{% endif %}>CONFIRM</button>
            </form>
        </div>
        <div class="card-body">
            <center><button class="btn btn-primary w-75 mb-2 mt-2" disabled>(DATA VALID: {{total_data_valid}})</button></center>
{#            <div class="table-responsive mb-5" style="height:200px; overflow-y:scroll;">#}
{#                <table class="table table-hover table-borderless mb-0">#}
{#                    <thead>#}
{#                    <tr>#}
{#                        {% for column in preview_data_valid.columns %}#}
{#                        <th scope="col">{{column}}</th>#}
{#                        {% endfor %}#}
{#                    </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                    {% for index,row in preview_data_valid.iterrows %}#}
{#                    <tr>#}
{#                        {% for value in row %}#}
{#                        <td>{{value}}</td>#}
{#                        {% endfor %}#}
{#                    </tr>#}
{#                    {% endfor %}#}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
            <div class="divider mb-2 mt-2"></div>
            <center><button class="btn btn-danger w-75 mb-2 mt-2" disabled>(DATA TIDAK VALID: {{total_data_invalid}})</button></center>

            <div class="table-responsive" style="height:200px; overflow-y:scroll;">
                <table class="table table-hover table-borderless mb-0 table-danger">
                    <thead>
                    <tr>

                        {% for column in preview_data_invalid.columns %}
                        <th scope="col">{{column}}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for index,row in preview_data_invalid.iterrows %}
                    <tr>
                        {% for value in row %}
                        <td>{{value}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<script>
        $('#download-btn').on('click', function () {
            const ws = XLSX.utils.json_to_sheet(data);
            const wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');
            XLSX.writeFile(wb, 'data.xlsx');
        });
</script>
{% endblock %}