<html><head><style>
body {margin: 0 30px; padding: 0; font-family: "Consolas","Fixedsys",arial !important;}
td { font-size: 12px !important}
.tabel-judul {border-top: 1px dotted #666; border-bottom: 1px dotted #666; width: 700px; margin: 20px 0}
.head-cetak-instansi {font-size: 22px; font-family: "Arial Narrow",tahoma; font-weight: 800}
</style>
</head><body><div style="width:100%;">
<br>
<br>
<br>
<h3>Resume Rawat Jalan</h3>

            <fieldset>
                <legend>Data Pasien</legend>
                                <table width="50%">
                    <tbody><tr>
                        <td width="215px">No. RM</td>
                        <td>71403</td>
                    </tr>
                    <tr>
                        <td>Nama Pasien</td>
                        <td>Iis Indriani, Ny</td>
                    </tr>
                    <tr>
                        <td>Alamat Jalan/RT/RW</td>
                        <td>Kp Pintu 6/7</td>
                    </tr>
                    <tr>
                        <td>Kelurahan</td>
                        <td>Rancaekek Wetan</td>
                    </tr>
                </tbody></table>
            </fieldset>
            <fieldset style="border-top: none;">
                <!-- <legend>Rekam Medis</legend> -->
                <table width="50%">
                    <tbody><tr>
                        <td width="215px">Waktu</td>
                        <td><input type="text" disabled="" value=" 09/05/2023 11:28:54"></td>
                    </tr>
                    <tr>
                        <td>Klinik</td>
                        <td><input type="text" disabled="" value="Klinik  Poliklinik Obgyn"></td>
                    </tr>
                    <tr>
                        <td>Dokter</td>
                        <td><input type="text" disabled="" value="dr. Indah Maharani, Sp.OG"></td>
                    </tr>
                    <tr>
                        <td>Anamnese</td>
                        <td><textarea disabled="" cols="30" rows="3">konmtrol</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Tensi</td>
                        <td> <input type="text" disabled="" value="118/76"> </td>
                    </tr>
                    <tr>
                        <td>Nadi</td>
                        <td><input type="text" disabled="" value="96"></td>
                    </tr>
                    <tr>
                        <td>Suhu</td>
                        <td><input type="text" disabled="" value="36 C"></td>
                    </tr>
                    <tr>
                        <td>Nafas</td>
                        <td><input type="text" disabled="" value="20"></td>
                    </tr>
                    <tr>
                        <td>Tinggi</td>
                        <td><input type="text" disabled="" value="- Cm"></td>
                    </tr>
                    <tr>
                        <td>Berat</td>
                        <td><input type="text" disabled="" value="50 Kg"></td>
                    </tr>
                    <!-- <tr>
                        <td>Jenis Kasus</td>
                        <td><input type="text" disabled value=""></td>
                    </tr> -->
                    <tr>
                        <td>Hasil Pemeriksaan</td>
                        <td><input type="text" disabled=""></td>
                    </tr>
                    <tr>
                        <td valign="top">Hasil Pemeriksaan Penunjang</td>
                        <td>
                                                        <!-- < ?if(isset($pemeriksaan_radiologi)){?> -->
                            <ul style="padding-left: 15px;">
                                                                <br>
                                <br>
                            </ul>
                                                        </td>
                    </tr>

                    <tr>
                        <td valign="top">Diagnosa</td>
                        <td>
                            <ul style="padding-left: 15px;">
                                                                <br>
                                <br>
                            </ul>
                        </td>
                    </tr>
                                        <tr>
                        <td valign="top">Diagnosa Utama</td>
                        <td>
                            <ul style="padding-left: 15px;">
                                                                <br>
                                <br>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">Diagnosa Tambahan</td>
                        <td>
                            <ul style="padding-left: 15px;">
                                                                <br>
                                <br>
                            </ul>
                        </td>
                    </tr>
                                    <tr>
                        <td valign="top">Tindakan</td>
                        <td>
                            <ul style="padding-left: 15px;">
                                                                <li></li>
                                <br>
                                <br>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">Pengobatan (Resep)</td>
                        <td>
                                                        <table width="100%">
                                <tbody><tr>
                                    <td style="width:3%;">No</td>
                                    <td style="width:15%;">Packing Barang</td>
                                    <!-- <td style='width:3%;'>Dosis Racik</td> -->
                                    <td style="width:1%;"></td>
                                    <td style="width:1%;"></td>
                                    <td style="width:13%;">Aturan Pakai</td>
                                </tr>
                                <tr>
                                                                    </tr><tr>
                                        <td>1</td>
                                        <td>MOLOCO B12 TAB</td>
                                        <!-- <td align="center">15</td> -->
                                        <td></td>
                                        <td></td>
                                        <td align="left"></td>
                                        <!-- <td align="center"><br />
<b>Notice</b>:  Undefined index: JUMLAH_R_PAKAI in <b>/var/www/rsuharkel/app/actions/admisi/pelaksanaan_pelayanan/history/rekam-medis-rj-new.php</b> on line <b>230</b><br />
</td> -->
                                    </tr>
                                                                    <tr>
                                        <td>2</td>
                                        <td></td>
                                        <td align="center"></td>
                                        <td></td>
                                        <td align="center"></td>
                                    </tr>

                            </tbody></table>
                                                    </td>
                    </tr>
                    <tr>
                        <td>Tindak Lanjut</td>
                        <td><input type="text" disabled="" value=""></td>
                    </tr>
                    <tr>
                        <td>Catatan</td>
                        <td><textarea disabled="" cols="30" rows="3">.</textarea></td>
                    </tr>
                    <tr>
                        <td>Jadwal Kontrol</td>
                        <td><input type="text" name="jadwal_kontrol" value="" disabled=""></td>
                    </tr>
                </tbody></table>
            </fieldset>
            <br>
            <table width="100%">
                <tbody><tr>
                    <td></td>
                    <td>Jakarta, 24 Mei 2023</td>
                    <td colspan="3" align="right" style="padding-right:90px"><br>Pasien</td><td>
                </td></tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td valign="top">
                        <br><br><br><br><br><br>

                        dr. Indah Maharani, Sp.OG                    </td>
                    <td></td>
                    <td></td>
                    <td align="right" style="padding-right:90px">
                    <br><br><br><br><br><br>
                    Iis Indriani, Ny</td>
                </tr>
            </tbody></table>
              <center>
            <p><span id="SCETAK"><input type="button" class="tombol" value="Cetak" onclick="cetak()"></span></p>
            </center>

<script language="JavaScript">
    function cetak() {
        SCETAK.innerHTML = '';
        window.print();
        if (confirm('Apakah menu print ini akan ditutup?')) {
                    show_form2();
        }
        SCETAK.innerHTML = '<br /><input onClick=\'cetak()\' type=\'submit\' name=\'Submit\' value=\'Cetak\' class=\'tombol\'>';
    }
</script>
</div></body></html>