{% extends 'basic.html' %}
{% load humanize i18n static %}

{% block title %}
Pemanggil Antrian
{% endblock %}

{% block head %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>
{% endblock %}

{% block content %}
{% language 'id' %}
<main class="h-100">

    {% include "header.html" %}
    <!-- main page content -->
    <div class="main-container container">
        <!--card pelayanan-->

        <div class="d-flex justify-content-center">
            <div class="row mb-3 mt-4 ">
                <div class="col">
                    <h4>Tambah Obat</h4>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">

        </div>
        <div class="row mb-3 mt-4 ">
            <div class="col">
                <div class="card">
                    <div class="card-body">

                        <!-- start  -->
                        <form id="FormUpdateMasterDataObat">

                            <div class="row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <div class="mb-3 row">
                                        <label for="inputNama" class="col-sm-2 col-form-label">Nama</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputNama">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="inputKode" class="col-sm-2 col-form-label">Kode</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputKode">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6">

                                    <div class="mb-3 row">
                                        <label for="inputStok" class="col-sm-2 col-form-label">Stok</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control" id="inputStok">
                                        </div>
                                    </div>

                                </div>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button class="btn btn-primary" type="submit">Tambah</button>
                                </div>
                            </div>
                        </form>
                        <!-- end  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function GetCSRFToken() {
            var csrftoken = "csrftoken"
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.startsWith(csrftoken + '=')) {
                    return cookie.substring(csrftoken.length + 1);
                }
            }
        }

        document.getElementById("FormUpdateMasterDataObat").addEventListener("submit", function (event) {
            event.preventDefault()

            var inputNama = document.getElementById("inputNama").value;
            var inputKode = document.getElementById("inputKode").value;

            fetch("/farmasi/api/master-data/obat",
                {
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json",
                        "X-CSRFToken": GetCSRFToken()
                    },
                    body: JSON.stringify({
                        nama: inputNama,
                        kode: inputKode
                    })
                }
            ).then(res => {
                if (res.status === 201) {
                    alert("Tambah Obat Berhasil")
                } else if (res.status === 400) {
                    return res.json().then(err => {
                        throw new Error("Tambah Obat Gagal")
                    })
                }
            }).catch(err => {
                alert(err.message)
            })
        })


    </script>
    {% include "footer.html" %}
</main>
{% endlanguage %}
{% endblock %}