{% if register.status == 'Pengajuan' %}
    <button type="button" class="btn btn-light btn-sm">{{ register.status }}</button>
{% elif register.status == 'Terima' %}
    <button type="button" class="btn btn-warning btn-sm">{{ register.status }}</button>
{% elif register.status == 'Verifikasi' %}
    <button type="button" class="btn btn-danger btn-sm">{{ register.status }}</button>
{% elif register.status == 'Selesai' %}
    <button type="button" class="btn btn-success btn-sm">{{ register.status }}</button>
{% elif register.status == 'Dikembalikan' %}
    <button type="button" class="btn btn-dark btn-sm">{{ register.status }}</button>
{% elif register.status == 'Proses FPK' %}
    <button type="button" class="btn btn-secondary btn-sm">{{ register.status }}</button>
{% elif register.status == 'Proses BOA' %}
    <button type="button" class="btn btn-primary btn-sm">{{ register.status }}</button>
{% elif register.status == 'Pembayaran' %}
    <button type="button" class="btn btn-info btn-sm">{{ register.status }}</button>
{% endif %}
