<table class="table">
    <tbody>
    <tr>
        <td><b>NO REG</b></td>
        <td>{{ register.nomor_register_klaim }}</td>
    </tr>
    <tr>
        <td><b>JENIS KLAIM</b></td>
        <td>{{ register.jenis_klaim }}</td>
    </tr>
    <tr>
        <td><b>NAMA PPKLAYAN</b></td>
        <td>{{ register.faskes.nama }}</td>
    </tr>
    <tr>
        <td><b>BULAN PELAYANAN</b></td>
        <td>{{ register.bulan_pelayanan | date:'M-Y' }}</td>
    </tr>
    <tr>
        <td><b>STATUS</b></td>
        <td>{% include 'base_status_register_klaim.html' %}</td>
    </tr>
    <tr>
        <td><b>TANGGAL AJU</b></td>
        <td>{{ register.tgl_aju | date:'d-M-Y' }}</td>
    </tr>
    <tr>
        <td><b>NOMOR PENGAJUAN</b></td>
        <td>{{ register.nomor_surat_pengajuan_rs }}</td>
    </tr>

    <tr>
        <td><b>KASUS RAWAT JALAN AJU</b></td>
        <td>{{ register.kasus_rawat_jalan_aju }}</td>
    </tr>
    <tr>
        <td><b>BIAYA RAWAT JALAN AJU</b></td>
        <td>{{ register.biaya_rawat_jalan_aju }}</td>
    </tr>
    <tr>
        <td><b>KASUS RAWAT INAP AJU</b></td>
        <td>{{ register.kasus_rawat_inap_aju }}</td>
    </tr>
    <tr>
        <td><b>BIAYA RAWAT INAP AJU</b></td>
        <td>{{ register.biaya_rawat_inap_aju }}</td>
    </tr>
    <tr>
        <td><b>NOMOR BA TERIMA</b></td>
        <td>{{ register.no_ba_terima | default_if_none:"" }}</td>
    </tr>
    <tr>
        <td><b>NOMOR BA LENGKAP</b></td>
        <td>{{ register.no_ba_lengkap | default_if_none:"" }}</td>
    </tr>
    <tr>
        <td><b>NOMOR BA HV</b></td>
        <td>{{ register.no_ba_hasil_verifikasi | default_if_none:"" }}</td>
    </tr>
    <tr>
        <td><b>TANGGAL TERIMA</b></td>
        <td>{{ register.tgl_terima | date:'d-M-Y' }}</td>
    </tr>
    <tr>
        <td><b>TANGGAL BA LENGKAP</b></td>
        <td>{{ register.tgl_ba_lengkap | date:'d-M-Y' }}</td>
    </tr>
    <tr>
        <td><b>TANGGAL BAHV</b></td>
        <td>{{ register.tgl_ba_verif | date:'d-M-Y' }}</td>
    </tr>
    <tr>
        <td><b>PROSES BOA</b></td>
        {% if register.prosesboa == True %}
            <td>
                <button class="btn btn-sm btn-success"><i class="fas fa-check"></i></button>
                {{ register.tgl_boa | date:'d-M-Y' }}</td>
        {% elif register.prosesboa == False %}
            <td>
                <button class="btn btn-sm btn-danger"><i class="fas fa-times"></i></button>
            </td>
        {% endif %}
    </tr>
    <tr>
        <td><b>POTONG KLAIM</b></td>
        {% if register.is_potongklaim == True %}
            <td>
                <button class="btn btn-sm btn-success"><i class="fas fa-cut"></i></button>
            </td>
        {% elif register.is_potongklaim == False %}
            <td><i class="fas fa-ellipsis-h"></i></td>
        {% endif %}
    </tr>
    {% if register.is_potongklaim == True %}
        <tr>
            <td><b>KETERANGAN POTONG KLAIM</b></td>
            <td>{{ register.keterangan_potongklaim }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>
