{% extends 'basic.html' %}
{% load humanize i18n static %}

{% block title %}
Pemanggil Antrian
{% endblock %}

{% block head %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>
{% endblock %}

{% block content %}
{% language 'id' %}
<main class="h-100">

    {% include "header.html" %}
    <!-- main page content -->
    <div class="main-container container">
        <!--card pelayanan-->
        <div class="row mb-2">
            {% for x in messages %}
            <button class="btn btn-primary col-lg-12">{{ x }}</button>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-center">
            <div class="row mb-3 mt-4 ">
                <div class="col">
                    <h4>Antrian Farmasi</h4>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">

        </div>
        <div class="row mb-3 mt-4 ">
            <div class="col">
                <div class="card">
                    <div class="card-body">


                        <!-- start  -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Obat</th>
                                    <th scope="col">Kuantitas</th>
                                    <th scope="col">Pasien</th>
                                    <th scope="col">Dokter</th>
                                    <th scope="col">Pembayaran</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for obat in obat_pasien %}
                                <tr>
                                    <td>{{obat.obat.nama}}</td>
                                    <td>{{obat.kuantitas}}</td>
                                    <td>{{obat.resume_medis.pasien.nama}}</td>
                                    <td>{{obat.dokter.get_full_name}}</td>
                                    <td>{{obat.status_pembayaran}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- end  -->
                    </div>
                </div>
            </div>
        </div>

        <div class="card w-75 mb-3">
            <div class="card-body">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                      <label for="inputPassword6" class="col-form-label">Petugas</label>
                    </div>
                    <div class="col-auto">
                      <input type="text" id="inputPassword6" value="{{request.user.get_full_name}}" class="form-control" aria-labelledby="passwordHelpInline" readonly disabled>
                    </div>
                    <div class="col-auto">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <form method="POST" action="/farmasi/konfirm-obat-diterima/{{antrian.id}}">
                                {% csrf_token %}
                                <button class="btn btn-primary" type="submit">Selesai</button>
                            </form>
                        </div>
                    </div>
                  </div>
            </div>
          </div>

    </div>
    <script>
        function speak(text) {
            var speech = new SpeechSynthesisUtterance();
            speech.text = text
            speech.lang = 'id'
            speech.rate = 0.7
            window.speechSynthesis.speak(speech)
        }
    </script>
    {% include "footer.html" %}
</main>
{% endlanguage %}
{% endblock %}